<div class="set-con ep">
  <div class="n-c set-p-h">

    <div class="n-c-h ">
      <div class="a-c" routerLink="../profilesetting">
        <i class="fa fa-angle-left"></i>
        <span class="set-h">Edit Profile</span>
      </div>
    </div>

  </div>
  <div class="p-cont-con p-c-n p-r">
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.4)"
                 size="default"
                 color="#bcc6f3"
                 type="ball-fall"
                 name="updatingProfile"
                 [fullScreen]="false"></ngx-spinner>
    <div class="p-i-con">
      <div class="p-p bcimg"
           [ngStyle]="{'background-image':'url( data:image/jpeg;base64,' + profile?.curentProfilePic + ')'}">

        <ngx-spinner bdColor="rgba(152,61,61,0)"
                     size="small"
                     color="#000"
                     type="ball-fall"
                     [fullScreen]="false"
                     name="loadingProfilePic"></ngx-spinner>
        <label class="btn btn-sm btn-default c-b" for="imageimput">
          <i class="fa fa-camera"></i>
        </label>
      </div>

      <br>

      <div>
        <input
          hidden
          id="imageimput"
          multiple
          type="file"
          accept="image/*"
          (change)="onFileInputChange($event)"/>
      </div>

      <!--<div class="row">-->
      <!--<div class="col-3"></div>-->
      <!--<div class="col-3">-->
      <!--<div class="btn btn-sm btn-info">Hahu-Cash</div>-->
      <!--</div>-->
      <!--<div class="col-3">-->
      <!--<div class="btn btn-sm btn-default">Connect</div>-->
      <!--</div>-->
      <!--<div class="col-3"></div>-->
      <!--</div>-->

      <br>
      <form [formGroup]="profileForm" class="row">
        <div class="col-sm-12 d-c n-c-f">
          <!--<p class="p-n">{{user?.firstName}} {{user?.lastName}}, {{profile?.age}}</p>-->
          <input class="form-control form-control-sm fn"
                 placeholder="first name" formControlName="firstName">

          <input class="form-control form-control-sm ln"
                 placeholder="last name" formControlName="lastName">
          <input class="form-control form-control-sm a" type="number"
                 placeholder="age" formControlName="age">
          <div class="lab fn">
            <div *ngIf="submitted || (f.firstName.invalid && (f.firstName.dirty || f.firstName.touched))">
              <div *ngIf="profileForm.hasError('required',['firstName'])">
                <small class="text-danger">
                  This field is required
                </small>
              </div>
            </div>
          </div>
          <div class="lab ln">
            <div *ngIf="submitted || (f.lastName.invalid && (f.lastName.dirty || f.lastName.touched))">
              <div *ngIf="profileForm.hasError('required',['lastName'])">
                <small class="text-danger">
                  This field is required
                </small>
              </div>
            </div>
          </div>
          <div class="lab a">
            <div *ngIf="submitted || (f.age.invalid && (f.age.dirty || f.age.touched))">
              <div *ngIf="profileForm.hasError('required',['age'])">
                <small class="text-danger">
                  required
                </small>
              </div>
            </div>
          </div>

        </div>
        <div class="col-sm-12 l-f-c">


          <div class="row">

            <div class="col">
              <div class="input-group input-group-sm li">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">@</span>
                </div>
                <input type="text"
                       placeholder="user name"
                       formControlName="userName"
                       class="form-control"
                       (focusout)="checkUserName()">
                <div class="t-a-c">
                  <div *ngIf="submitted || (f.userName.invalid && (f.userName.dirty || f.userName.touched))">
                    <div *ngIf="profileForm.hasError('required',['userName'])">
                      <small class="text-danger">
                        This field is required
                      </small>
                    </div>
                  </div>
                  <small *ngIf="userNameTaken" class="text-danger">
                    User Name is taken
                  </small>
                </div>
              </div>
            </div>

            <div class="col">
              <input type="text"
                     placeholder="city"
                     formControlName="city"
                     class="form-control form-control-sm ri">
              <div class="t-a-c">
                <div *ngIf="submitted || (f.city.invalid && (f.city.dirty || f.city.touched))">
                  <div *ngIf="profileForm.hasError('required',['city'])">
                    <small class="text-danger">
                      This field is required
                    </small>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="row m-t-10">
            <div class="col">
              <div class="pc">

                <input type="text"
                       placeholder="phone number (+251)"
                       formControlName="phoneNumber"
                       class="form-control form-control-sm">

                <div class="t-a-c">
                  <div *ngIf="submitted || (f.phoneNumber.invalid && (f.phoneNumber.dirty || f.phoneNumber.touched))">
                    <div *ngIf="profileForm.hasError('required',['phoneNumber'])">
                      <small class="text-danger">
                        This field is required
                      </small>
                    </div>
                    <div *ngIf="profileForm.hasError('pattern',['phoneNumber'])">
                      <small  class="text-danger">
                        Phone number is not valid
                      </small>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div class="col"></div>

          </div>

          <hr>
          <textarea type="text"
                    placeholder="bio"
                    formControlName="bio"
                    class="form-control form-control-sm bio"
                    rows="4"></textarea>
          <div class="t-a-c">
            <div *ngIf="submitted || (f.bio.invalid && (f.bio.dirty || f.bio.touched))">
              <div *ngIf="profileForm.hasError('required',['bio'])">
                <small class="text-danger">
                  This field is required
                </small>
              </div>
            </div>
          </div>
        </div>
      </form>
      <br>
    </div>
  </div>

  <div class="ep-b-c">
    <div class="btn btn-secondary float-right" routerLink="../profilesetting">Cancel</div>
    <div class="btn btn-success float-right" (click)="updateProfile()">save</div>
  </div>


</div>


