<div class="home container bcg " style="background-image: url('./assets/images/background3.jpg')">
  <div class="row hcc">
    <div class="col-12">
      <br>
      <br><br>
      <br>
      <br>
    </div>
    <div class="col t-a-c">
      <h1>HaHu</h1>
    </div>
  </div>
  <div class="row hcc">
    <div class="col t-a-c">
      <p>COMMUNICATION AND TIME MANAGMENT</p>
    </div>
  </div>
  <div class="btn-con row">
    <div class="btn btn-lg btn-white m-auto gsb" routerLink="../register">
      GET STARTED <i class="fa fa-angle-right"></i>
    </div>
  </div>
</div>
