<div class="n-c">

  <div class="n-c-h">
    <div class="a-c">
      <i class="fa fa-angle-left" routerLink="../dashboard"></i>
      <!--<i class="fa fa-search float-right srch"></i>-->
    </div>
    <p class="nh">Progress</p>
  </div>

</div>
<div class="s-p-c">
  <div class="s-h-t">
    <p>Statistics</p>
  </div>

  <div class="s-m-c">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <select class="form-control f" id="exampleFormControlSelect1" (change)="midChnage($event)">
              <option value="1">MID 1</option>
              <option value="2">MID 2</option>
              <option>MID 3</option>
              <option>MID 4</option>
              <option>MID 5</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <select class="form-control s" id="2">
              <option>Semester 1</option>
              <option>Semester 2</option>
              <option>Semester 3</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <select class="form-control l" id="3">
              <option>2021</option>
              <option>2022</option>
              <option>2023</option>
              <option>2024</option>
              <option>2025</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="s-p-c-c">

    <div>
      <div class="a-r-c">
        <p>74%  <span><small>cumulative average result</small></span></p>
      </div>
      <div style="display: block" class="p-r">
        <div class="l-c">
          <ngx-spinner bdColor="rgba(152,61,61,0)"
                       size="default"
                       color="#2b2e3f"
                       type="ball-fall"
                       [fullScreen]="false"
                       name="barChart"></ngx-spinner>
        </div>
        <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType">
        </canvas>
      </div>
    </div>

  </div>

  <div class="container">
    <div class="row ">
      <div class="col-sm-12 p-r-c">
        <div class="card">
          <div class="card-body  row">
            <div class="col">
              <h2>75</h2>
              <small>avgr</small>
            </div>
            <div class="col">
              <h2>50</h2>
              <small>below avgr</small>
            </div>
            <div class="col">
              <h2>85</h2>
              <small>satisfactory</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="s-p-r-p">
  <div class="rh-c">
    <p class="rh">Recommended pages</p>
  </div>

  <div class="post">
    <div class="container">
      <div class="row recom-con">
        <div class="r-com-con h-scroll">

          <div class="sm-c-h">
            <div class="sm-c-h-i bcimg" style="background-image: url('./assets/images/profile3.jpg')">

            </div>
            <div class="desc-c-h">
              <p>Get started with argon.</p>
              <br>
              <p class="va">View Article</p>
            </div>
          </div>
          <div class="sm-c-h">
            <div class="sm-c-h-i bcimg" style="background-image: url('./assets/images/background.jpg')">

            </div>
            <div class="desc-c-h">
              <p>Get started with argon.</p>
              <br>
              <p class="va">View Article</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


  <div class="s-p-r-p-c">
    <div class="sm-c">
      <div class="sm-c-i bcimg" style="background-image: url('./assets/images/background.jpg')">
      </div>
      <div class="desc-c">
        <p>Title of subject</p>
        <br>
        <p class="va">View Article</p>
      </div>
    </div>
    <div class="sm-c">
      <div class="sm-c-i bcimg" style="background-image: url('./assets/images/profile2.jpg')">
      </div>
      <div class="desc-c">
        <p>Title of subject</p>
        <br>
        <p class="va">View Article</p>
      </div>
    </div>
    <div class="sm-c">
      <div class="sm-c-i bcimg" style="background-image: url('./assets/images/profile2.jpg')">
      </div>
      <div class="desc-c">
        <p>Title of subject</p>
        <br>
        <p class="va">View Article</p>
      </div>
    </div>
    <div class="sm-c">
      <div class="sm-c-i bcimg" style="background-image: url('./assets/images/profile2.jpg')">
      </div>
      <div class="desc-c">
        <p>Title of subject</p>
        <br>
        <p class="va">View Article</p>
      </div>
    </div>

  </div>


  <div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>


</div>
