<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<hr>
<div class="modal-body">
  <div>
    <div class="save-list">
      <div class="s-i-l d-b"  >
        <p>Your Mag will be added to <i><b>{{magContainer.title}}</b></i></p>
        <div class="tag-l-c">
          <ngx-spinner bdColor="rgba(152,61,61,0)"
                       size="small"
                       color="#6495ff"
                       type="ball-fall"
                       name="savingPostSpinner"
                       [fullScreen]="false"></ngx-spinner>
        </div>
      </div>
      <div class="s-i-l" (click)="bsModalRef.hide()">
        <p></p>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-sm btn-light" (click)="addToMag()">Confirm</button>
  <button type="button" class="btn btn-sm btn-outline-light" (click)="bsModalRef.hide()">Cancel</button>
</div>
