<div class="u-con">

  <router-outlet></router-outlet>
  <div class="h-menu">
    <div class="m-con">
      <div class="row m-i-c r-wp">
        <div class="col active">
          <div class="ii-c">
            <i class="fa fa-home"></i>
          </div>

        </div>
        <div class="col">
          <div class="ii-c">
            <i class="fa fa-money"></i>
          </div>

        </div>
        <div class="col">
          <div class="ii-c" routerLink="../../home"><i class="fa fa-search"></i>
          </div>

        </div>
        <div class="col">
          <div class="ii-c"><i class="fa fa-telegram"></i>
          </div>

        </div>
        <div class="col">
          <div class="ii-c"><i class="fa fa-user"></i>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
