<div class="u-con">

  <router-outlet></router-outlet>
  <div class="h-menu">
    <div class="m-con">
      <div class="row m-i-c r-wp">
        <!--active-->
        <div class="col ">
          <div class="ii-c" routerLink="./homecon">
            <i class="fa fa-home"></i>
          </div>

        </div>
        <div class="col">
          <div class="ii-c" routerLink="./workboard">
            <i class="fa fa-users"></i>
          </div>

        </div>
        <div class="col">
          <div class="ii-c" routerLink="./search"><i class="fa fa-search"></i>
          </div>

        </div>
        <div class="col">
          <div class="ii-c"><i class="fa fa-telegram"></i>
          </div>

        </div>
        <div class="col">
          <div class="ii-c" routerLink="./profile"><i class="fa fa-user"></i>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
