<div class="home container bcg register" >
  <!--style="background-image: url('./assets/images/background3.jpg')"-->
  <div class="row hcc ">
    <div class="col-12 ">
      <div class="head" routerLink="../home">
        <h1><i class="fa fa-angle-left"></i></h1>
        <p>Create Account</p>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-12" style="margin-top: 25px">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col t-a-c">
              <p (click)="check()">Sign up </p>
            </div>
          </div>
          <!--<div class="row">-->
            <!--&lt;!&ndash;<div class="col t-a-c">&ndash;&gt;-->
              <!--&lt;!&ndash;<div class="btn btn-neutral btn-icon">&ndash;&gt;-->

                <!--&lt;!&ndash;<span class="btn-inner&#45;&#45;icon"><i class="fa fa-facebook"></i></span>&ndash;&gt;-->
                <!--&lt;!&ndash;<span class="btn-inner&#45;&#45;text">Facebook</span>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="col t-a-c">&ndash;&gt;-->

              <!--&lt;!&ndash;<div class="btn btn-neutral btn-icon">&ndash;&gt;-->

                <!--&lt;!&ndash;<span class="btn-inner&#45;&#45;icon"><i class="fa fa-google"></i></span>&ndash;&gt;-->
                <!--&lt;!&ndash;<span class="btn-inner&#45;&#45;text">Google</span>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->

          <!--</div>-->

          <div class="alert alert-danger" *ngIf="error">
            <strong>Registration failed!</strong> Please try again later.
          </div>

          <div class="alert alert-danger" *ngIf="errorUserExists">
            <strong>Login name already registered!</strong> Please choose another one.
          </div>

          <div class="alert alert-danger" *ngIf="errorEmailExists">
            <strong>Email is already in use!</strong> Please choose another one.
          </div>
          <div class="row">
            <div class="col">
              <br>
              <br>
              <br>
              <br>

            </div>
          </div>

          <form [formGroup]="registerForm" class="form c-form c-f">
            <div class="row r-f-c">
              <div class="col-12">
                <br>
                <!--<p class="t-a-c">Sign up with credentials</p>-->
              </div>

              <div class="col-12">
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-user"></i></span>
                    </div>
                    <input class="form-control form-control-alternative"
                           placeholder="user name"
                           type="text" formControlName="login">
                    <div *ngIf="submitted || (f.login.invalid && (f.login.dirty || f.login.touched))">
                      <div *ngIf="registerForm.hasError('required',['login'])">
                        <small class="text-danger">
                          this field is required
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12">
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-inbox"></i></span>
                    </div>
                    <input class="form-control form-control-alternative"
                           placeholder="Email" type="text" formControlName="email">
                    <div *ngIf="submitted || (f.email.invalid && (f.email.dirty || f.email.touched))">
                      <div *ngIf="registerForm.hasError('required',['email'])">
                        <small class="text-danger">
                          this field is required
                        </small>
                      </div>
                      <div *ngIf="registerForm.controls.email.errors?.email">
                        <small id="emailHelp" class="text-danger">
                          Not valid email
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12">
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-asterisk"></i></span>
                    </div>
                    <input class="form-control form-control-alternative" placeholder="password"
                           formControlName="password" type="password">
                    <div *ngIf="submitted || (f.password.invalid && (f.password.dirty || f.password.touched))">
                      <div *ngIf="registerForm.hasError('required',['password'])">
                        <small class="text-danger">
                          this field is required
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12">
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-asterisk"></i></span>
                    </div>
                    <input class="form-control form-control-alternative" placeholder="confirm password"
                           formControlName="confirmPassword" type="password">
                    <div *ngIf="submitted || (f.confirmPassword.invalid && (f.confirmPassword.dirty || f.confirmPassword.touched))">
                      <div *ngIf="registerForm.hasError('required',['confirmPassword'])">
                        <small class="text-danger">
                          this field is required
                        </small>
                      </div>
                      <div *ngIf="registerForm.controls.confirmPassword.errors?.MatchPassword ">
                        <small id="passwordHelp" class="text-danger">
                          Password Mis Match
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!--<div class="col-12">-->
                <!--<div class="custom-control custom-control-alternative custom-checkbox">-->
                  <!--<input-->
                    <!--class="custom-control-input" id=" customCheckLogin" type="checkbox">-->
                  <!--<label-->
                    <!--class="custom-control-label" for=" customCheckLogin"><span-->
                    <!--class="text-muted" (click)="changeStatus()">Remember me </span></label>-->
                <!--</div>-->
                <!--<br>-->
                <!--<br>-->
              <!--</div>-->

              <div class="col-12 t-a-c">
                <div class="btn btn-primary r-btn" (click)="register()">
                  Create Account
                </div>
                <br>
                <br>
              </div>
              <div class="col-12 t-a-c">
                <p>Already have an account <span class="badge badge-success" routerLink="../login">Sign In Here </span>
                </p>
              </div>


            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
