<div class="pro">
  <div class="n-c  pro-h-con">

    <div class="n-c-h ">
      <div class="a-c">
        <span routerLink="../../../user">
          <i class="fa fa-angle-left"></i>
        <span class="pro-h">Profile</span>
        </span>
        <!--<i class="fa fa-search float-right srch"></i>-->
        <div class="p-b-con">
          <i class="fa fa-bell"></i>
          <i class="fa fa-inbox" routerLink="../profilesetting"></i>
        </div>
      </div>
      <!--<p class="nh">Progress</p>-->
    </div>

  </div>

</div>
<div class="p-cont-con">
  <div class="p-i-con">

    <div class="p-p bcimg"

         [ngStyle]="{'background-image':'url( data:image/jpeg;base64,' + profile?.curentProfilePic + ')'}">
      <ngx-spinner bdColor="rgba(152,61,61,0)"
                   size="small"
                   color="#000"
                   type="ball-fall"
                   [fullScreen]="false"
                   name="loadingProfilePic"></ngx-spinner>
    </div>
    <br>

    <div class="row">
      <div class="col-3"></div>
      <div class="col-3 f-b-c">
        <div *ngIf="loaded">
          <div class="btn btn-sm btn-info" *ngIf="!visitingProfile">Hahu-Cash</div>
          <div class="btn btn-sm btn-info" [ngClass]="{'disabled' : loadingFollowingStatus}" *ngIf="visitingProfile"
               (click)="followUser()"><span *ngIf="isUserFollowing">Following</span>
                                      <span *ngIf="!isUserFollowing">Follow</span>
            <div class="f-l-b-c">
              <ngx-spinner bdColor="rgba(152,61,61,0)"
                           size="small"
                           color="#fff"
                           type="ball-fall"
                           [fullScreen]="false"
                           name="followSpinner"></ngx-spinner>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="btn btn-sm btn-default">Telechat</div>
      </div>
      <div class="col-3"></div>
    </div>

    <br>
    <div class="row">
      <div class="col d-c">

        <p class="p-n">{{user?.firstName}} {{user?.lastName}}, {{profile?.age}}</p>
        <p class="p-l">{{profile?.location}}</p>
        <hr>
        <p class="p-desc">{{profile?.bio}}</p>
        <!--<div class="s-m">show more</div>-->

      </div>
    </div>
    <!--<div class="s-p-r-p">-->
    <!--<div class="container">-->
    <!--<div class="row">-->
    <!--<div class="col al-h-c al-h-p">-->
    <!--<p class="float-left l">Album</p>-->
    <!--<p class="float-right r">View All</p>-->
    <!--</div>-->
    <!--</div>-->

    <!--</div>-->
    <!--<div class="">-->
    <!--<div class="al-c w-100">-->
    <!--&lt;!&ndash;<div class="im bcimg" *ngFor="let a of album"&ndash;&gt;-->
    <!--&lt;!&ndash;[ngStyle]="{'background-image':'url( data:image/jpeg;base64,' + a?. + ')'}">&ndash;&gt;-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

  </div>
</div>
<div class="profile-c-c">
  <div class="p-c-c-h">

    <div class="pm" [ngClass]="{'active': isActive(1)}"
         (click)="changeTab(1)"
         routerLink="./posts"
         [queryParams]="{userId: userId}">
      Posts
    </div>
    <div class="pm" [ngClass]="{'active': isActive(2)}" (click)="changeTab(2)" routerLink="./likes"
         [queryParams]="{userId: userId}">
      Likes
    </div>
    <div class="pm" [ngClass]="{'active': isActive(3)}" (click)="changeTab(3)" routerLink="./following"
         [queryParams]="{userId: userId}">
      Following
    </div>
  </div>
  <div class="profile-dc">
    <router-outlet></router-outlet>
  </div>
</div>
<br>
<br>
<br>



