<div class="saves-con">
  <div class="search-con">
    <form class="" [formGroup]="searchForm" (submit)="searchSavedPosts()">
      <div class="form-group">
        <input class="s-in form-control form-control-sm"
               placeholder="Look around your saves"
               formControlName="query"
               (input)="searchSavedPosts()">
      </div>
    </form>
  </div>

  <!--<div class="s-m-con">-->
    <!--<div class="container">-->
      <!--<div class="row sm-menu">-->
        <!--<div class="col"></div>-->
        <!--<div class="col active"><p>Saves</p></div>-->
        <!--<div class="col"><p>Following</p></div>-->
        <!--<div class="col"></div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="h-div">-->
    <!--</div>-->
  <!--</div>-->

  <div class="tag-con">
    <button class="badge btn ftags" *ngFor="let t of tags; let i = index;" (click)="filterWithTags(t.id)"
            ngClass="sb{{i+1}}">{{t.name}}
    </button>
    <!--<span class="badge  badge-default ">private</span>-->
    <!--<span class="badge  badge-primary">e-course</span>-->
    <!--<span class="badge  badge-warning">news</span>-->
    <!--<span class="badge  badge-danger">tech</span>-->
    <!--<span class="badge  badge-success">Success</span>-->
    <!--<span class="badge  badge-danger">Danger</span>-->
    <!--<span class="badge  badge-warning">Warning</span>-->
  </div>


  <div class="">
    <div class="t-l">

      <div *ngFor="let sp of savedPosts; let i = index;">
        <app-post-alt [post]="sp" [account]="account"></app-post-alt>

      </div>
      <p *ngIf="savedPosts.length == 0 && preference != null" class="t-a-c  ">
        No Saved Posts
      </p>


      <div class="spinner-con">
        <ngx-spinner bdColor="rgb(0,0,0)"
                     size="default"
                     color="#dddddd"
                     type="ball-fall"
                     [fullScreen]="false"
                     name="savedSpinner"></ngx-spinner>
      </div>

      <div class="loading row">
        <div class="col" style="min-height: 442px;">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>



