<div class="c-c-h" *ngIf="!addToMag">
  <div class="i-c" (click)="bsModalRef.hide()"><i class="fa fa-angle-left"></i></div>
  <div class="name" (click)="toggleAggToMag()">add to mag</div>
  <div class="p" (click)="createPost(file)">Post</div>
</div>

<div class="c-c-h cch2" *ngIf="addToMag">
  <div class="i-c" (click)="toggleAggToMag()"><i class="fa fa-angle-left"></i></div>
  <div class="p" (click)="createPost(file)">Post</div>
  <div class="l-d-c">
    <div class="name active">create new</div>
    <div class="name">add to existing</div>
  </div>
</div>
<div class="p-bar-con">
  <progressbar class="pbar" *ngIf="file != null" max="100" [value]="progress" [striped]="true"
               [animate]="true"></progressbar>
</div>

<div class="c-c-i">

  <form [formGroup]="captionForm">
    <input type="text" class="form-control"
           [(ngModel)]="caption" formControlName="caption" placeholder="add title">
  </form>
  <div class="h-tag">
    <div class="" (click)="addTags()"><i class="fa fa-hashtag"></i></div>
  </div>
</div>

<div class="c-d-c-v dcc" [ngClass]="backGround">

  <!--<div class="d-inline-block">-->
  <!--<div class="suic" *ngFor="let item of files;let i=index">-->
  <!--<div class="i-b bcimg" [ngfBackground]="item"></div>-->
  <!--<p class="sd">size : {{ item.size/1024/1024 | number:'.2' }} MB</p>-->
  <!--<label class="badge badge-secondary" (click)="files.splice(i,1)"><i class="fa fa-trash"></i>-->
  <!--Delete</label>-->
  <!--</div>-->
  <!--</div>-->

  <div class="data-con">
    <!--<div class="caption-con" [ngClass]="'fc' + fontClass">-->
    <!--<p>{{caption}}</p>-->
    <!--</div>-->

    <form [formGroup]="caption2Form">

      <textarea autosize class="textarea" [ngClass]="'fc' + fontClass" role="textbox" contenteditable formControlName="content"
                placeholder="Add something ..."></textarea>

    </form>
    <!--<textarea >Some text</textarea>-->


    <div class="i-c">
      <div *ngIf="file != null">
        <div class="im bcimg" [ngStyle]="{'background-image':'url(' + file + ')'}">
        </div>
      </div>
    </div>
  </div>

  <div class="hashtags-con">
    <div class="hashtags" *ngFor="let t of tags; let i = index;">#{{t?.name}}</div>
    <br>
    <br>
    <br>
  </div>

</div>


<div class="c-f-c">
  <div class="container t-a-c">

    <div class="big-c-c">
      <div class="c">
        <i class="fa fa-camera"></i>
      </div>
    </div>


    <ng-template #popTemplate>
      <div class="container">
        <div class="row pu-c dcc">
          <div class="bc-c ww wb" (click)="changeBackground('ww')"></div>
          <div class="bc-c gg" (click)="changeBackground('gg')"></div>
          <div class="bc-c bb" (click)="changeBackground('bb')"></div>
          <div class="bc-c grn" (click)="changeBackground('grn')"></div>
          <div class="bc-c dg" (click)="changeBackground('dg')"></div>
          <div class="bc-c lb" (click)="changeBackground('lb')"></div>
          <div class="bc-c db" (click)="changeBackground('db')"></div>
        </div>
        <div class="row pu-c dcc">
          <div class="bc-c pp" (click)="changeBackground('pp')"></div>
          <div class="bc-c dp" (click)="changeBackground('dp')"></div>
          <div class="bc-c rr" (click)="changeBackground('rr')"></div>
          <div class="bc-c dr" (click)="changeBackground('dr')"></div>
          <div class="bc-c bb" (click)="changeBackground('bb')"></div>
          <div class="bc-c do" (click)="changeBackground('do')"></div>
          <div class="bc-c oo" (click)="changeBackground('oo')"></div>
        </div>
      </div>
    </ng-template>


    <div class="row" [ngClass]="showIcons ? '': 't-i'">
      <div class="col"><label for="imageimput"><i class="fa fa-photo"></i></label></div>
      <div class="col" (click)="changeClass()"><p>አa</p></div>
      <div class="col"><p>GIF</p></div>
      <div class="col"><i class="fa fa-link"></i></div>
      <div class="col" [popover]="popTemplate"
           [outsideClick]="true"><p>Bg</p></div>
      <div class="col"><i class="fa fa-paint-brush"></i></div>
      <div class="col">
        <i class="fa fa-eye-slash" (click)="toggleIcons()"></i>
        <i class="fa fa-eye" *ngIf="!showIcons" (click)="toggleIcons()"></i>
      </div>
    </div>

  </div>
</div>

<div>
  <input
    hidden
    id="imageimput"
    ngfSelect
    multiple
    type="file"
    [(lastBaseUrl)]="file"
    accept="image/*"
    (filesChange)="lastFileAt=getDate()"/>
</div>

<!--<div>-->
<!--<input type="file" id="newFileSelect" accept="image/*" (change)="onFileInputChange($event)">-->
<!--</div>-->

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)"
             size="default"
             color="#bcc6f3"
             type="ball-fall"
             name="posting"
             [fullScreen]="true"></ngx-spinner>
