.modal-body{
  padding: 0 !important;
}
.s-i-l{
  padding: 10px 15px;
  border-top: 1px solid #ededed;
  text-align: center;
  border-bottom: 1px solid #ededed;

}
.d-b{
  background-color: #fafafa;
}

.s-i-l p{
  margin-bottom: 0;
}

.small-sp-con{

}
