<div class="n-c">

  <div class="n-c-h">
    <div class="a-c">
      <i class="fa fa-angle-left" routerLink="../dashboard"></i>
      <i class="fa fa-search float-right srch"></i>
    </div>
    <p class="nh">Notifications</p>
  </div>

  <div class="w-con">
    <div class="w-b-m-con n-w-b-m-con">
      <div class="w-b-con w-not nc">
        <div class="s-w-not">
          <div class="w-i-c">
            <div class="w-i-c-c bcimg" style="background-image: url('./assets/images/background.jpg')"></div>
          </div>
          <div class="w-c-c">
            <p>Burns Marks</p>
            <p class="sm">Shared an ETA</p>
            <hr>
          </div>
          <div class="n-t-c">
            <p>1m ago</p>
          </div>
        </div>
        <div class="s-w-not">
          <div class="w-i-c">
            <div class="w-i-c-c bcimg" style="background-image: url('./assets/images/background.jpg')"></div>
          </div>
          <div class="w-c-c">
            <p>Burns Marks</p>
            <p class="sm">Shared an ETA</p>
            <hr>
          </div>
          <div class="n-t-c">
            <p>1m ago</p>
          </div>
        </div>
        <div class="s-w-not">
          <div class="w-i-c">
            <div class="w-i-c-c bcimg" style="background-image: url('./assets/images/background.jpg')"></div>
          </div>
          <div class="w-c-c">
            <p>Burns Marks</p>
            <p class="sm">Shared an ETA</p>
            <hr>
          </div>
          <div class="n-t-c">
            <p>1m ago</p>
          </div>
        </div>
      </div>
      <div class="w-b-con w-not ncr">
        <div class="s-w-not">
          <div class="w-i-c">
            <div class="w-i-c-c bcimg" style="background-image: url('./assets/images/background.jpg')"></div>
          </div>
          <div class="w-c-c">
            <p>Burns Marks</p>
            <p class="sm">Shared an ETA</p>
            <hr>
          </div>
          <div class="n-t-c">
            <p>1m ago</p>
          </div>
        </div>
        <div class="s-w-not">
          <div class="w-i-c">
            <div class="w-i-c-c bcimg" style="background-image: url('./assets/images/background.jpg')"></div>
          </div>
          <div class="w-c-c">
            <p>Burns Marks</p>
            <p class="sm">Shared an ETA</p>
            <hr>
          </div>
          <div class="n-t-c">
            <p>1m ago</p>
          </div>
        </div>
        <div class="s-w-not">
          <div class="w-i-c">
            <div class="w-i-c-c bcimg" style="background-image: url('./assets/images/background.jpg')"></div>
          </div>
          <div class="w-c-c">
            <p>Burns Marks</p>
            <p class="sm">Shared an ETA</p>
            <hr>
          </div>
          <div class="n-t-c">
            <p>1m ago</p>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
