<div class="n-c hf">

  <div class="n-c-h">
    <div class="a-c">
      <i class="fa fa-angle-left" routerLink="../dashboard"></i>
      <!--<i class="fa fa-search float-right srch"></i>-->
    </div>
    <p class="nh">Notifications</p>
  </div>

  <div>
    <ngx-spinner bdColor="rgba(152,61,61,0)"
                 size="default"
                 color="#dddddd"
                 type="ball-fall"
                 [fullScreen]="false"
                 name="notification"></ngx-spinner>
  </div>
  <div class="w-con">
    <div class="w-b-m-con n-w-b-m-con">
      <div *ngIf="showNew">
        <div class="w-b-con w-not nc" *ngIf="notifications.length > 0">
          <div class="s-w-not" *ngFor="let n of notifications; let i = index;">
            <div *ngIf="!n.markAsRead">
              <div class="w-i-c">
                <div class="w-i-c-c bcimg"
                     [ngStyle]="{'background-image':'url( data:image/jpeg;base64,' + n?.featuredImage + ')'}"></div>
              </div>
              <div class="w-c-c">
                <p>{{n.userLogin}}</p>
                <p class="sm">{{n.content}}</p>
                <hr>
              </div>
              <div class="n-t-c">
                <p>{{n.date | date:'MMM d, y'}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="w-b-con w-not ncr" *ngIf="notifications.length > 0">
        <div class="s-w-not" *ngFor="let n of notifications; let i = index;">
          <div *ngIf="n.markAsRead">
            <div class="w-i-c">
              <div class="w-i-c-c bcimg"
                   [ngStyle]="{'background-image':'url( data:image/jpeg;base64,' + n?.featuredImage + ')'}"></div>
            </div>
            <div class="w-c-c">
              <p>{{n.userLogin}}</p>
              <p class="sm">{{n.content}}</p>
              <hr>
            </div>
            <div class="n-t-c">
              <p>{{n.date | date:'MMM d, y'}}</p>
            </div>
          </div>
        </div>

      </div>
      <div class="z-c" *ngIf="isNotificationLoaded" >
        <p *ngIf="notifications.length == 0">No new notifications.</p>
      </div>
    </div>
  </div>

</div>
