<div infinite-scroll=""
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="300"
     (scrolled)="loadPost()">
  <div class="">
    <div class="t-l">

      <div *ngFor="let p of postList;let i = index;">
        <app-post [post]="p" [account]="account"></app-post>
        <div *ngIf="showRecom(i)">
          <div class="post">

            <div class="container">
              <div class="row recom-con">

                <div class="col-12 p-0">
                  <div class="r-h-c">
                    <p> Recommendation</p>
                  </div>
                </div>

                <div class="r-com-con">

                  <!--<div class="orc" *ngFor="let r of recommendation; let i = index;">-->
                  <app-recom *ngFor="let r of recommendation; let i = index;"
                             [post]="r"
                             [account]="account"
                             [count]="i"></app-recom>
                  <!--</div>-->


                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="spinner-con">
        <ngx-spinner bdColor="rgba(152,61,61,0)"
                     size="default"
                     color="#dddddd"
                     type="ball-fall"
                     [fullScreen]="false"
                     name="postSpinner"></ngx-spinner>
      </div>


      <!--<div class="post">-->
      <!--<div class="container news-con">-->
      <!--<div class="row recom-con">-->
      <!--<div class="col-12 p-0">-->
      <!--<div class="n-h-c">-->
      <!--<p> News</p>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="news-content col-8">-->
      <!--<div class="news-con-in">-->
      <!--<small>May 1</small>-->
      <!--<p class="head">Bernald Nolan</p>-->
      <!--<p class="desc">The content of the news snippet will be seen here. </p>-->
      <!--</div>-->
      <!--<div class="n-i-con bcimg" style="background-image: url('./assets/images/background3.jpg')">-->

      <!--</div>-->
      <!--</div>-->
      <!--<div class="row recom-con">-->
      <!--<div class="col-12 p-0">-->
      <!--<div class="n-h-c">-->
      <!--&lt;!&ndash;<div class="badge badge-secondary f-l m-r-5"><i class="fa fa-newspaper-o"></i></div>&ndash;&gt;-->
      <!--<p> News</p>-->
      <!--</div>-->
      <!--&lt;!&ndash;<hr class="hr-r">&ndash;&gt;-->

      <!--</div>-->

      <!--</div>-->
      <!--<div class="news-content col-8">-->
      <!--<div class="news-con-in">-->
      <!--<small>May 1</small>-->
      <!--<p class="head">Bernald Nolan</p>-->
      <!--<p class="desc">The content of the news snippet will be seen here. </p>-->
      <!--</div>-->
      <!--<div class="n-i-con bcimg" style="background-image: url('./assets/images/background.jpg')">-->

      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->


      <div class="loading row">
        <div class="col">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        </div>
      </div>

      <div class="c-c-b">
        <button class="btn btn-sm btn-dark n-p" (click)="createContent(2)"><i class="fa fa-newspaper-o"></i></button>
        <button class="btn btn-sm btn-dark" (click)="createContent(1)"><i class="fa fa-camera-retro"></i></button>

      </div>

    </div>
  </div>
</div>
