<div class="n-c hf">

  <div class="n-c-h">
    <div class="a-c">
      <i class="fa fa-angle-left" routerLink="../dashboard"></i>
      <!--<i class="fa fa-search float-right srch"></i>-->
    </div>
    <p class="nh">Schedule</p>

    <div class="row cal-c">
      <bs-datepicker-inline [bsValue]="bsInlineValue" [bsConfig]="bsConfig"></bs-datepicker-inline>
      <div class="td-c">
        <p class=""> Today : {{bsInlineValue | date:'EEEE , MMMM dd'}}</p>
      </div>

      <div class="exp-con">
        <div class="exp-btn" (click)="toggleExpiredTasks()" *ngIf="expiredSchedule?.length">
          <span class="badge rounded-pill bg-danger"> {{expiredSchedule?.length}} Expired Tasks <i class="fa fa-angle-down"></i></span>
        </div>
        <div class="exp-con-in" *ngIf="showExpired">
          <div class="exp-h">
            <p>Expired Tasks</p>
          </div>
          <div class="  " *ngFor="let ts of expiredSchedule;let i = index;">
            <!--<input type="checkbox"-->
                   <!--class="custom-control-input"-->
                   <!--id="tts{{i}}"-->
                   <!--[checked]="ts.markAsDone"-->
                   <!--(change)="toggleTask(i,2)">-->
            <label class=" ">
               {{ts.title}}
            </label>

            <span class="badge badge-dark rb" (click)="removeTask(ts.id)"><i class="fa fa-times"></i></span>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>

  <div class="w-con">

    <p class="w-h">Tasks</p>
    <div class="w-b-m-con sch-con">
      <div class="w-b-con w-not sc">
        <div>
          <p class="w-h d-inline-block">Today</p>
          <!--<i class="fa fa-plus ps" (click)="addSchedule(true,false,false, 'Add Today Schedule')"></i>-->
        </div>

        <div class="sc-c-c">

          <ngx-spinner bdColor="rgba(152,61,61,0)"
                       size="small"
                       color="#dddddd"
                       type="ball-fall"
                       [fullScreen]="false"
                       name="todaySchedule"></ngx-spinner>

          <div class="custom-control custom-checkbox" *ngFor="let ts of todaySchedule; let i = index;">
            <input type="checkbox" class="custom-control-input"  [checked]="ts.markAsDone" id="ts{{i}}" (change)="toggleTask(i,1)" >
            <label class="custom-control-label" for="ts{{i}}">
              <del *ngIf="ts.markAsDone">{{ts.title}}</del>
              <span *ngIf="!ts.markAsDone">{{ts.title}}</span>
            </label>
            <span class="badge badge-dark rb" (click)="removeTask(ts.id)"><i class="fa fa-times"></i></span>
          </div>

        </div>
      </div>
    </div>
    <br>
    <div class="w-b-m-con sch-con">
      <div class="w-b-con w-not sc tc">
        <div>
          <p class="w-h d-inline-block">Tomorrow</p>
          <!--<i class="fa fa-plus ps" (click)="addSchedule(false,true,false, 'Add Tomorrow Schedule')"></i>-->
        </div>
        <div class="sc-c-c">
          <ngx-spinner bdColor="rgba(152,61,61,0)"
                       size="small"
                       color="#dddddd"
                       type="ball-fall"
                       [fullScreen]="false"
                       name="tomorrowSchedule"></ngx-spinner>
          <div class="custom-control custom-checkbox" *ngFor="let ts of tomorrowSchedule;let i = index;">
            <input type="checkbox"
                   class="custom-control-input"
                   id="tts{{i}}"
                   [checked]="ts.markAsDone"
                   (change)="toggleTask(i,2)">
            <label class="custom-control-label" for="tts{{i}}">
              <del *ngIf="ts.markAsDone">{{ts.title}}</del>
              <span *ngIf="!ts.markAsDone">{{ts.title}}</span>
            </label>
            <span class="badge badge-dark rb" (click)="removeTask(ts.id)"><i class="fa fa-times"></i></span>

          </div>


        </div>
      </div>
    </div>
    <br>
    <div class="w-b-m-con sch-con">
      <div class="w-b-con w-not sp soon">
        <div>
          <p class="w-h d-inline-block">Soon</p>
          <!--<i class="fa fa-plus ps" (click)="addSchedule(false,false,true, 'Add Soon Schedule')"></i>-->
        </div>
        <div class="sc-c-c">
          <ngx-spinner bdColor="rgba(152,61,61,0)"
                       size="small"
                       color="#dddddd"
                       type="ball-fall"
                       [fullScreen]="false"
                       name="soonSchedule"></ngx-spinner>
          <div class="custom-control custom-checkbox" *ngFor="let ts of soonSchedules;let i = index;">
            <input type="checkbox"
                   class="custom-control-input"
                   id="sts{{i}}"
                   [checked]="ts.markAsDone"
                   (change)="toggleTask(i,3)">
            <label class="custom-control-label" for="sts{{i}}">
              <del *ngIf="ts.markAsDone">{{ts.title}}</del>
              <span *ngIf="!ts.markAsDone">{{ts.title}}</span>
            </label>
            <span class="badge badge-dark rb" (click)="removeTask(ts.id)"><i class="fa fa-times"></i></span>
          </div>

        </div>
      </div>
    </div>
    <div>
      <div class="b-ps"><i class="fa fa-plus" (click)="addSchedule()"></i></div>
    </div>
  </div>

</div>


