.frt{
  float: right !important;
  display: inline-block;
  text-decoration: underline solid #59d6e1;
  text-align: right;
  margin-right: 20px;
}
hr{
  margin: 0 0 10px;
}
h3{
  margin-bottom: 1px;
}
small{
}
span{
  margin-right: 2px;
}
.badge-dark{
  background-color: rgba(0, 0, 0, 0.1);
}
