<div class="search-m-con">

  <div class="search-con">
    <form class="">
      <!--<div class="form-group">-->
        <!--<input class="s-in form-control form-control-sm" placeholder="Look around your saves">-->
      <!--</div>-->
      <ng-template #customItemTemplate let-model="item" let-index="index">
        <div class="">
          <p>{{model.title}}</p>

        </div>

      </ng-template>
      <form class="form-group" [formGroup]="searchForm">
        <div class="input-group s-i-g">
          <div class="input-group-prepend s-p">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
          </div>
          <input type="text" class="s-in form-control"
                 placeholder="Look around hahu"
                 aria-label="Username"
                 aria-describedby="basic-addon1"
                 [typeahead]="dataSource"
                 [typeaheadAsync]="true"
                 [typeaheadSingleWords]="false"
                 (typeaheadOnSelect)="onSelect($event)"
                 [typeaheadItemTemplate]="customItemTemplate"
                 [typeaheadOptionsLimit]="10"
                 formControlName="query"
                 required
                 aria-describedby="button-addon2">
        </div>
      </form>
    </form>
  </div>

  <div class="s-m-con">
    <div class="container">
      <div class="row sm-menu">
        <div class="col active"><p>Explore</p></div>
        <div class="col active"><p></p></div>
        <div class="col"><p></p></div>
        <div class="col"></div>
      </div>
    </div>
    <div class="h-div">

    </div>
  </div>

  <div class="tag-con">
    <span class="badge  " *ngFor="let t of tags; let i = index;"  ngClass="sb{{i+1}}">{{t.name}}</span>
  </div>

  <!--<div class="s-p-r-p">-->
    <!--<div class="s-p-r-p-c">-->
      <!--<div class="sm-c sm-s-l">-->
        <!--<div class="sm-c-i bcimg" style="background-image: url('./assets/images/background2.jpg')">-->
        <!--</div>-->
        <!--<div class="desc-c tab">-->
          <!--<p class="b">Discover</p>-->

          <!--<p class="l">If You are offered a seat ...</p>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <div class="">
    <div class="post">
      <div class="container">
        <div class="row recom-con">

          <div class="col-12 p-0">
            <div class="r-h-c">
              <!--<div class="badge badge-secondary f-l m-r-5"><i class="fa fa-bookmark"></i></div>-->


            </div>
            <p class="sm-h"> Recently Opened</p>
          </div>

          <div class="r-com-con h-scroll">

              <div class="sm-c">
                <div class="sm-c-i bcimg" style="background-image: url('./assets/images/profile.jpg')">
                </div>
                <div class="desc-c">
                  <p>Title of subject</p>
                  <p class="s">This will be a placeholder for the text to be on the </p>
                </div>
              </div>
              <div class="sm-c">
                <div class="sm-c-i bcimg" style="background-image: url('./assets/images/profile2.jpg')">
                </div>
                <div class="desc-c">
                  <p>Title of subject</p>
                  <p class="s">This will be a placeholder for the text to be on the </p>
                </div>
              </div>
              <div class="sm-c">
                <div class="sm-c-i bcimg" style="background-image: url('./assets/images/background.jpg')">
                </div>
                <div class="desc-c">
                  <p>Title of subject</p>
                  <p class="s">This will be a placeholder for the text to be on the </p>
                </div>
              </div>
              <div class="sm-c">
                <div class="sm-c-i bcimg" style="background-image: url('./assets/images/background.jpg')">
                </div>
                <div class="desc-c">
                  <p>Title of subject</p>
                  <p class="s">This will be a placeholder for the text to be on the </p>
                </div>
              </div>
              <div class="sm-c">
                <div class="sm-c-i bcimg" style="background-image: url('./assets/images/background.jpg')">
                </div>
                <div class="desc-c">
                  <p>Title of subject</p>
                  <p class="s">This will be a placeholder for the text to be on the </p>
                </div>
              </div>
              <div class="sm-c">
                <div class="sm-c-i bcimg" style="background-image: url('./assets/images/background.jpg')">
                </div>
                <div class="desc-c">
                  <p>Title of subject</p>
                  <p class="s">This will be a placeholder for the text to be on the </p>
                </div>
              </div>
              <div class="sm-c">
                <div class="sm-c-i bcimg" style="background-image: url('./assets/images/background.jpg')">
                </div>
                <div class="desc-c">
                  <p>Title of subject</p>
                  <p class="s">This will be a placeholder for the text to be on the </p>
                </div>
              </div>
              <div class="sm-c">
                <div class="sm-c-i bcimg" style="background-image: url('./assets/images/background.jpg')">
                </div>
                <div class="desc-c">
                  <p>Title of subject</p>
                  <p class="s">This will be a placeholder for the text to be on the </p>
                </div>
              </div>


          </div>


        </div>
      </div>
    </div>
    <div class="post">
      <div class="container">
        <div class="row recom-con">

          <div class="col-12 p-0">
            <div class="r-h-c">
              <!--<div class="badge badge-secondary f-l m-r-5"><i class="fa fa-bookmark"></i></div>-->


            </div>
            <p class="sm-h"> Trending</p>
          </div>

          <div class="r-com-con h-scroll">

            <div class="sm-c">
              <div class="sm-c-i bcimg" style="background-image: url('./assets/images/traffic.jpg')">
              </div>
              <div class="desc-c">
                <p>Title of subject</p>
                <p class="s">This will be a placeholder for the text to be on the </p>
              </div>
            </div>
            <div class="sm-c">
              <div class="sm-c-i bcimg" style="background-image: url('./assets/images/transaction.jpg')">
              </div>
              <div class="desc-c">
                <p>Title of subject</p>
                <p class="s">This will be a placeholder for the text to be on the </p>
              </div>
            </div>
            <div class="sm-c">
              <div class="sm-c-i bcimg" style="background-image: url('./assets/images/profile3.jpg')">
              </div>
              <div class="desc-c">
                <p>Title of subject</p>
                <p class="s">This will be a placeholder for the text to be on the </p>
              </div>
            </div>
            <div class="sm-c">
              <div class="sm-c-i bcimg" style="background-image: url('./assets/images/background.jpg')">
              </div>
              <div class="desc-c">
                <p>Title of subject</p>
                <p class="s">This will be a placeholder for the text to be on the </p>
              </div>
            </div>
            <div class="sm-c">
              <div class="sm-c-i bcimg" style="background-image: url('./assets/images/background.jpg')">
              </div>
              <div class="desc-c">
                <p>Title of subject</p>
                <p class="s">This will be a placeholder for the text to be on the </p>
              </div>
            </div>
            <div class="sm-c">
              <div class="sm-c-i bcimg" style="background-image: url('./assets/images/background.jpg')">
              </div>
              <div class="desc-c">
                <p>Title of subject</p>
                <p class="s">This will be a placeholder for the text to be on the </p>
              </div>
            </div>
            <div class="sm-c">
              <div class="sm-c-i bcimg" style="background-image: url('./assets/images/background.jpg')">
              </div>
              <div class="desc-c">
                <p>Title of subject</p>
                <p class="s">This will be a placeholder for the text to be on the </p>
              </div>
            </div>
            <div class="sm-c">
              <div class="sm-c-i bcimg" style="background-image: url('./assets/images/background.jpg')">
              </div>
              <div class="desc-c">
                <p>Title of subject</p>
                <p class="s">This will be a placeholder for the text to be on the </p>
              </div>
            </div>


          </div>


        </div>
      </div>
    </div>
    <div class="post">
      <div class="container">
        <div class="row recom-con">

          <div class="col-12 p-0">
            <div class="r-h-c">
              <!--<div class="badge badge-secondary f-l m-r-5"><i class="fa fa-bookmark"></i></div>-->


            </div>
            <p class="sm-h"> Local</p>
          </div>

          <div class="r-com-con h-scroll">

            <div class="sm-c">
              <div class="sm-c-i bcimg" style="background-image: url('./assets/images/background.jpg')">
              </div>
              <div class="desc-c">
                <p>Title of subject</p>
                <p class="s">This will be a placeholder for the text to be on the </p>
              </div>
            </div>
            <div class="sm-c">
              <div class="sm-c-i bcimg" style="background-image: url('./assets/images/background.jpg')">
              </div>
              <div class="desc-c">
                <p>Title of subject</p>
                <p class="s">This will be a placeholder for the text to be on the </p>
              </div>
            </div>
            <div class="sm-c">
              <div class="sm-c-i bcimg" style="background-image: url('./assets/images/background.jpg')">
              </div>
              <div class="desc-c">
                <p>Title of subject</p>
                <p class="s">This will be a placeholder for the text to be on the </p>
              </div>
            </div>
            <div class="sm-c">
              <div class="sm-c-i bcimg" style="background-image: url('./assets/images/background.jpg')">
              </div>
              <div class="desc-c">
                <p>Title of subject</p>
                <p class="s">This will be a placeholder for the text to be on the </p>
              </div>
            </div>
            <div class="sm-c">
              <div class="sm-c-i bcimg" style="background-image: url('./assets/images/background.jpg')">
              </div>
              <div class="desc-c">
                <p>Title of subject</p>
                <p class="s">This will be a placeholder for the text to be on the </p>
              </div>
            </div>
            <div class="sm-c">
              <div class="sm-c-i bcimg" style="background-image: url('./assets/images/background.jpg')">
              </div>
              <div class="desc-c">
                <p>Title of subject</p>
                <p class="s">This will be a placeholder for the text to be on the </p>
              </div>
            </div>
            <div class="sm-c">
              <div class="sm-c-i bcimg" style="background-image: url('./assets/images/background.jpg')">
              </div>
              <div class="desc-c">
                <p>Title of subject</p>
                <p class="s">This will be a placeholder for the text to be on the </p>
              </div>
            </div>
            <div class="sm-c">
              <div class="sm-c-i bcimg" style="background-image: url('./assets/images/background.jpg')">
              </div>
              <div class="desc-c">
                <p>Title of subject</p>
                <p class="s">This will be a placeholder for the text to be on the </p>
              </div>
            </div>


          </div>


        </div>
      </div>
    </div>
    <div class="post">
      <div class="container">
        <div class="row recom-con">

          <div class="col-12 p-0">
            <div class="r-h-c">
            </div>
            <p class="sm-h"> Recommendation</p>
          </div>

          <div class="r-com-con h-scroll">

            <div class="s-l-c">
              <div class="s-l-i bcimg" style="background-image: url('./assets/images/profile3.jpg')">

              </div>
              <div class="s-l-des-c lb">
                <p>Something </p>
                <p class="s">By Some one</p>
              </div>
            </div>
            <div class="s-l-c">
              <div class="s-l-i bcimg" style="background-image: url('./assets/images/traffic.jpg')">

              </div>
              <div class="s-l-des-c y">
                <p>Something </p>
                <p class="s">By Some one</p>
              </div>
            </div>
            <div class="s-l-c">
              <div class="s-l-i bcimg" style="background-image: url('./assets/images/background.jpg')">

              </div>
              <div class="s-l-des-c p">
                <p>Something </p>
                <p class="s">By Some one</p>
              </div>
            </div><div class="s-l-c">
            <div class="s-l-i bcimg" style="background-image: url('./assets/images/background.jpg')">

            </div>
            <div class="s-l-des-c lb">
              <p>Something </p>
              <p class="s">By Some one</p>
            </div>
          </div>

          </div>


        </div>
      </div>
    </div>
    <div class="t-l">
      <div class="loading row">
        <div class="col">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>

</div>



