<div class="search-m-con">

  <div class="search-con">
    <form class="">
      <!--<div class="form-group">-->
      <!--<input class="s-in form-control form-control-sm" placeholder="Look around your saves">-->
      <!--</div>-->
      <ng-template #customItemTemplate let-model="item" let-index="index" class="tc">
        <div class="rc">
          <p class="sr">{{model.title}}</p>
        </div>
      </ng-template>

      <form class="form-group" [formGroup]="searchForm" (submit)="onSearch()">
        <div class="input-group s-i-g">
          <div class="input-group-prepend s-p">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
          </div>
          <input type="text" class="s-in form-control"
                 placeholder="Look around hahu"
                 aria-label="Username"
                 aria-describedby="basic-addon1"
                 [typeahead]="dataSource"
                 [typeaheadAsync]="true"
                 [typeaheadSingleWords]="false"
                 (typeaheadOnSelect)="onSelect($event)"
                 typeaheadOptionField="posts.title"
                 [typeaheadItemTemplate]="customItemTemplate"
                 [typeaheadOptionsLimit]="10"
                 formControlName="query"
                 required>
          <div class="tag-l-c">

            <ngx-spinner bdColor="rgba(152,61,61,0)"
                         size="small"
                         color="#6495ff"
                         type="ball-fall"
                         name="searchSpinner"
                         [fullScreen]="false"></ngx-spinner>
          </div>
        </div>
      </form>
    </form>
  </div>

  <div class="s-m-con">
    <div class="container">
      <div class="row sm-menu">
        <div class="col active t-a-l"><p>Explore <span *ngIf="queryText != ''">#</span>{{queryText}}</p></div>


      </div>
    </div>
    <div class="h-div">

    </div>
  </div>

  <div class="tag-con">
    <button class="badge btn ftags" *ngFor="let t of tags; let i = index;" (click)="searchWithTags(t.id, t.name)"
            ngClass="sb{{i+1}}">{{t.name}}
    </button>
  </div>



  <div id="viewport">
    <ul class="stack" swing-stack [stackConfig]="stackConfig" #myswing1 (throwout)="onThrowOut($event)" >
      <li swing-card #mycards1   *ngFor="let c of cards; let i = index;" >
        <!--{{ c.symbol }}-->
        <p class="hidden">{{i}}</p>
        <div class="s-p-r-p">
          <div class="s-p-r-p-c">
            <div class="sm-c sm-s-l">
              <div class="sm-c-i bcimg" style="background-image: url('./assets/images/profile3.jpg')">
              </div>
              <div class="desc-c tab">
                <p class="b">{{c.name}}</p>
                <p class="l">If You are offered a seat ...</p>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>



  <div class="">

    <div class="srlc">
      <ngx-spinner bdColor="rgba(152,61,61,0)"
                   size="default"
                   color="#dddddd"
                   type="ball-fall"
                   [fullScreen]="false"
                   name="loadingSResult"></ngx-spinner>
    </div>

    <div class="post" *ngIf="searchResult.length > 0">
      <div class="container">
        <div class="row recom-con">
          <div class="col-12 p-0">
            <div class="r-h-c">
              <!--<div class="badge badge-secondary f-l m-r-5"><i class="fa fa-bookmark"></i></div>-->
            </div>
            <p class="sm-h"></p>
          </div>
          <div class="r-com-con h-scroll">
            <div class="sm-c" *ngFor="let sr of searchResult; let i = index;">
              <div class="sm-c-i bcimg"
                   [ngStyle]="{'background-image':'url( data:image/jpeg;base64,' + sr.featuredImage + ')'}">
              </div>
              <div class="desc-c">
                <p>{{sr.title}}</p>
                <p class="s">{{sr.title}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="post" *ngIf="recentlyOpenedPosts.length > 0">
      <div class="container">
        <div class="row recom-con">

          <div class="col-12 p-0">
            <div class="r-h-c">
              <!--<div class="badge badge-secondary f-l m-r-5"><i class="fa fa-bookmark"></i></div>-->


            </div>
            <p class="sm-h"> Recently Opened</p>
          </div>

          <div class="r-com-con h-scroll">

            <div class="sm-c" *ngFor="let ro of recentlyOpenedPosts; let i = index;">
              <div class="sm-c-i bcimg"
                   [ngStyle]="{'background-image':'url( data:image/jpeg;base64,' + ro.featuredImage + ')'}">
              </div>
              <div class="desc-c">
                <p>Title of subject</p>
                <p class="s">This will be a placeholder for the text to be on the </p>
              </div>
            </div>


          </div>


        </div>
      </div>
    </div>

    <div class="post" *ngIf="trendingPosts.length > 0">
      <div class="container">
        <div class="row recom-con">
          <div class="col-12 p-0">
            <div class="r-h-c">
              <!--<div class="badge badge-secondary f-l m-r-5"><i class="fa fa-bookmark"></i></div>-->
            </div>
            <p class="sm-h"> Trending</p>
          </div>

          <div class="r-com-con h-scroll">

            <div class="sm-c" *ngFor="let t of trendingPosts; let i = index;">
              <div class="sm-c-i bcimg"
                   [ngStyle]="{'background-image':'url( data:image/jpeg;base64,' + t.featuredImage + ')'}">
              </div>
              <div class="desc-c">
                <p>{{t.title}}</p>
                <p class="s">{{t.title}}</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="post" *ngFor="let po of tagPosts; let i = index;">
      <div class="container" *ngIf="po.length > 0">
        <div class="row recom-con">
          <div class="col-12 p-0">
            <div class="r-h-c">
              <!--<div class="badge badge-secondary f-l m-r-5"><i class="fa fa-bookmark"></i></div>-->
            </div>
            <p class="sm-h"> #{{tags[i].name}}</p>
          </div>

          <div class="r-com-con h-scroll">

            <div class="sm-c" *ngFor="let p of po; let x = index;">
              <div class="sm-c-i bcimg"
                   [ngStyle]="{'background-image':'url( data:image/jpeg;base64,' + p.featuredImage + ')'}">
              </div>
              <div class="desc-c">
                <p>{{p.title}}</p>
                <p class="s">{{p.title}}</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="post" *ngFor="let stp of similarTagPosts; let i = index;">
      <div class="container" *ngIf="stp.length > 0">
        <div class="row recom-con">
          <div class="col-12 p-0">
            <div class="r-h-c">
              <!--<div class="badge badge-secondary f-l m-r-5"><i class="fa fa-bookmark"></i></div>-->
            </div>
            <p class="sm-h"> #{{similarTags[i]?.name}}</p>
          </div>
          <div class="r-com-con h-scroll">

            <div class="sm-c" *ngFor="let sp of stp; let x = index;">
              <div class="sm-c-i bcimg"
                   [ngStyle]="{'background-image':'url( data:image/jpeg;base64,' + sp.featuredImage + ')'}">
              </div>
              <div class="desc-c">
                <p>{{sp.title}}</p>
                <p class="s">{{sp.title}}</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="post" *ngIf="searchResult.length == 0 && queryText != ''">
      <div class="container row" *ngIf="similarTagPosts != null">
        <div class="col t-a-c white">
          <small>No results found</small>
        </div>
      </div>

    </div>

    <div class="t-l">
      <div class="loading row">
        <div class="col">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        </div>
      </div>
    </div>

  </div>

</div>



