<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ngx-spinner bdColor="rgba(255,255,255,0.6)"
               size="default"
               color="#272727"
               type="ball-fall"
               [fullScreen]="true"
               name="addSchedule"></ngx-spinner>
  <div>
    <form [formGroup]="scheduleForm" class="form c-form">

      <div class="form-group">
        <small>Title</small>
        <input type="text" formControlName="title" placeholder="add schedule title" class="form-control form-control-sm">
        <div *ngIf="submitted || (f.title.invalid && (f.title.dirty || f.title.touched))">
          <div *ngIf="scheduleForm.hasError('required',['title'])">
            <small class="text-danger">
              this field is required
            </small>
          </div>
        </div>
      </div>

      <div class="form-group">
        <small>Start Time</small>
        <input type="text"
               placeholder="start time"
               formControlName="startDate"
               class="form-control form-control-sm"
               [bsConfig]="bsConfig"
               [minDate]="minDate"
               bsDatepicker>
        <div *ngIf="submitted || (f.startDate.invalid && (f.startDate.dirty || f.startDate.touched))">
          <div *ngIf="scheduleForm.hasError('required',['startDate'])">
            <small class="text-danger">
              this field is required
            </small>
          </div>
        </div>
      </div>

      <div class="form-group">
        <small>End Time</small>
        <input type="text"
               placeholder="end time"
               formControlName="endDate"
               class="form-control form-control-sm"
               [bsConfig]="bsConfig"
               [minDate]="minDate"
               bsDatepicker>
        <div *ngIf="submitted || (f.endDate.invalid && (f.endDate.dirty || f.endDate.touched))">
          <div *ngIf="scheduleForm.hasError('required',['endDate'])">
            <small class="text-danger">
              this field is required
            </small>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-sm btn-default" (click)="register()">Register</button>
  <button type="button" class="btn btn-sm btn-outline-danger" (click)="bsModalRef.hide()">Cancel</button>
</div>
