<div class="n-c">
  <div class="n-c-h">
    <div class="a-c">
      <i class="fa fa-angle-left"   (click)="bsModalRef.hide()"></i>
      <!--<i class="fa fa-search float-right srch"></i>-->
    </div>

  </div>
</div>

<div class="m-t-con">
  <h1>{{mag?.title}}</h1>

  <div class="h-ic bcimg" [ngStyle]="{'background-image':'url( data:image/jpeg;base64,' + mag?.featuredImage + ')'}">

  </div>
  <hr>
</div>

<!--<div class="scrollmenu m-p-h">-->
 <!--<div class="post">now</div>-->
 <!--<div class="post">now</div>-->
 <!--<div class="post">now</div>-->
 <!--<div class="post">now</div>-->
 <!--<div class="post">now</div>-->
 <!--<div class="post">now</div>-->
 <!--<div class="post">now</div>-->
<!--</div>-->

<div class="m-p-h">
  <div class="recom-con">
    <div class="r-com-con ">

      <app-post [post]="p" [account]="account" *ngFor="let p of magPosts;let i = index;" ></app-post>

    </div>

  </div>
</div>



<div class="row">
  <div class="col-12">
    <div *ngIf="loaded">
      <p class="mrc" *ngIf="magPosts.length == 0">No Posts Yet</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="mg-spi">
      <ngx-spinner bdColor="rgba(152,61,61,0)"
                   size="default"
                   color="#656565"
                   type="ball-fall"
                   [fullScreen]="false"
                   name="magListSpinner"></ngx-spinner>
    </div>
  </div>
</div>
