.a-c{
  color: #1f2034;
}
.m-t-con{
  padding-left: 20px;
  padding-right: 20px;
}

.mg-spi{
  height: 100px;
}
.mrc{
  padding: 25px;
}

.h-ic{
  border-radius: 15px;
  height: 160px;
  width: 100%;
  background-color: #f0f0f0;
}

