<div class="home container bcg register" style="background-image: url('./assets/images/background3.jpg')">
  <div class="row hcc ">
    <div class="col-12 ">
      <div class="head" routerLink="../../register">
        <h1><i class="fa fa-angle-left"></i></h1>
        <p>Sign In</p>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">


          <div class="row">
            <div class="col">


              <p class="t-a-c">Sign in </p>
              <br>
              <br>
            </div>
          </div>

          <form [formGroup]="loginForm" (submit)="login()">
            <div class="row r-f-c">
              <div class="col-12">
                <br>

              </div>
              <div class="col-12" *ngIf="authenticationError">
                <div class="alert alert-danger"><strong>Failed to sign in!</strong> Please check your credentials and
                  try again.
                </div>
              </div>

              <div class="col-12">
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-user"></i></span>
                    </div>
                    <input class="form-control form-control-alternative"
                           placeholder="email or user name"
                           type="text"
                           formControlName="username">

                  </div>
                  <div *ngIf="submitted || (f.username.invalid && (f.username.dirty || f.username.touched))"
                       class="text-danger">
                    <div *ngIf="loginForm.hasError('required',['username'])">
                      <small class="text-danger">
                        Enter user name or email
                      </small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12">
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-asterisk"></i></span>
                    </div>
                    <input class="form-control form-control-alternative"
                           placeholder="password"
                           type="password"
                           formControlName="password">
                  </div>
                  <div *ngIf="submitted || (f.password.invalid && (f.password.dirty || f.password.touched))"
                       class="text-danger">
                    <div *ngIf="loginForm.hasError('required',['password'])">
                      <small class="text-danger">
                        Enter Password
                      </small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12">
                <div class="custom-control custom-control-alternative custom-checkbox">
                  <input
                    class="custom-control-input"
                    id="customCheckLogin"
                    type="checkbox" (click)="toggleRememberMe()">
                  <label
                    class="custom-control-label" for="customCheckLogin"><span
                    class="text-muted">Remember me </span></label>
                </div>
                <br>
                <br>
              </div>

              <div class="col-12 t-a-c">
                <button type="submit" class="btn btn-primary r-btn" >
                  Login
                </button>

                <br>
                <br>
              </div>


            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
