//custom large button
.c-l-b{
  width: 150px;
  line-height: 50px !important;
  font-size: 18px;
  font-weight: 700;
  border-radius: 8px !important;
}


//home list buttons
.h-l-b{
  background-color: #cdcdcd;
  color: black;

}

.order-btn{
  padding: 10px 40px;
}


//custom profile button
.c-p-b{
  border-radius: 20px;
}


.remove-btn{
  font-size: 9px;
  margin-bottom: 10px;
  float: right;
  //background-color: #ffdfdf;
}



.b1{
  background-color: #3acce1;
  border-color: #3acce1;
  border-radius: 12px;
  padding: 2px;
  font-size: 19px;
  font-weight: normal;
}
.b2{
  background-color: #ff4f9a;
  border-color: #ff4f9a;
  border-radius: 12px;
  padding: 2px;
  font-size: 19px;
  font-weight: normal;
}
