.orange{
  color: #ff671f;
}
.red{
  color: #ff0018;
}
.atlas-theme-color-1{
  color: #064956;
}
.blue{
  color: #717dff;
}

.white{
  color: white;
}
.green{
  color: #35dc71;
}


$header-color: #125ad9;
$y-b-c:#ffd543;
$y-b-c-1:#ffce25;
$temp-color: #9c9c9c;
