@import "common";

app-mag{
  height: 100% !important;
}

.c-c-con {
  app-content {
    height: 100%;
  }
  position: fixed;
  margin: 0;
  border-radius: 0;
  height: 100%;
  width: 100%;
  .modal-content {
    border-radius: 0;
    height: 100%;
  }
  .c-c-h {
    &.cch2{
      //.i-c{
      //  display: block;
      //}
      .l-d-c{
        display: block;
        clear: both;
        @extend .clearfix;
      }
      .name{
        width: 50%;
        float: left;
        padding-left: 15px;
        &.active{
          text-decoration: underline;
          text-decoration-color:#8fe3ff ;
        }
      }
    }
    @extend .clearfix;
    background-color: #181f4d;
    font-size: 20px;
    padding: 6px;
    color: #fff;
    .i-c {
      float: left;
      width: 10%;
      text-align: center;
    }
    .name {
      float: left;
      width: 60%;
    }
    .p {
      float: right;
      width: 30%;
      text-align: right;
      padding-right: 20px;
    }
  }
  .c-c-i {
    @extend .clearfix;
    form {
      width: 85%;
      float: left;
      position: relative;
    }
    .h-tag {
      text-align: center;
      line-height: 38px;
      font-size: 22px;
      float: left;
      width: 15%;
    }
    padding: 10px;
    input {
      border-radius: 10px;
      padding: 3px 11px !important;
      font-size: 19px;
      height: 37px;
    }
    &.tagg {
      input {
        border: none;
      }
    }
  }
  .c-f-c {
    z-index: 999;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    background-color: #fff;
    i, p {
      font-size: 17px;
      line-height: 17px;
    }
  }
  .data-con {
    //image container
    padding-top: 10px;
    .i-c {
      .im {
        min-height: 407px;
        margin-bottom: 10px;
      }
    }
  }
  .caption-con {
    padding: 15px;
    font-size: 15px;
  }
  .c-d-c-v {
    overflow-y: auto;
    height: 84%;
  }

  progressbar {
    border-radius: 0;
    height: 2px;
    margin-bottom: 0;
  }
}

.tags-con {
  margin-bottom: 8px;
  &.ht {
    overflow: auto;
    white-space: nowrap;
    width: 700px;
  }
}

.tags {
  display: inline-block;
  border-radius: 21px;
  font-size: 17px;
  text-align: center;
  padding: 3px 16px 6px;
  background-color: #6495ff;
  color: #fff;
  margin-right: 10px;
  margin-bottom: 8px;
  position: relative;
  .c-btn {
    color: #060606;
    font-size: 8px;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -8px;
    right: -4px;
    background-color: #fafafa;
    border-radius: 10px;
    padding: 5px;
  }
}

.hashtags-con {
  @extend .clearfix;
  padding: 10px;
  .hashtags {
    float: left;
    font-style: italic;
    margin-right: 10px;
  }
}

.i-b {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}

.tag-l-c {
  position: absolute;
  right: 30px;
  bottom: 8px;
}

.cap-b {
  //background-color: #2b2e3f;

  padding: 10px;
  p {
    margin-bottom: 0;
  }
}

.big-c-c {
  position: absolute;
  left: 42%;
  bottom: 34px;
  .c {
    i {
      font-size: 27px;
      transform: rotate(-30deg);
    }
    line-height: 72px;
    margin: 0 auto 40px;
    background-color: #3acce1;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    text-align: center;
  }
}

.fc0 {
  font-size: 15px !important;
  p {

    margin-bottom: 0;
  }
}

.fc1 {
  font-size: 18px !important;
  p {

    margin-bottom: 0;

  }
}

.fc2 {
  font-size: 21px !important;
  p {

    margin-bottom: 0;

  }
}

.fc3 {
  font-size: 24px !important;
  p {

    margin-bottom: 0;

  }
}

.pa {
  color: #fff;
  margin: 10px;
}

.p-r-c {
  text-align: center;
  .card {
    margin: 10px 10px 32px;
    background-color: #f5f5f5;
    .card-body {
      padding: 9px;
    }
  }
}

.p-r {
  position: relative;
  .l-c {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 100%;
    padding-top: 178px;
  }
}

.pu-c {
  //padding: 10px;
  .bc-c {
    float: left;
    margin: 3px;
  }
}

.bc-c {
  width: 28px;
  height: 28px;
  border-radius: 14px;
}

.wb {
  border: 1px solid #cecece;
}

.ww {
  background-color: #fff;

}

.gg {
  background-color: #bababa !important;
  color: #fff;
  textarea{
    background-color: #bababa !important;
    color: #fff;
  }
}

.bb {
  background-color: #000 !important;
  color: #fff;
  textarea{
    background-color: #000 !important;
    color: #fff;
  }
}

.dg {
  background-color: #0fbf76 !important;
  color: #fff;
  textarea{
    background-color: #0fbf76 !important;
    color: #fff;
  }
}

.lb {
  background-color: #8fe3ff !important;
  //color: #fff;
  textarea{
    background-color: #8fe3ff !important;
    //color: #fff;
  }
}

.db {
  background-color: #62b4ff !important;
  color: #fff;
  textarea{
    background-color: #62b4ff !important;
    color: #fff;
  }
}

.dp {
  background-color: #a985cb !important;
  color: #fff;
  textarea{
    background-color: #a985cb !important;
    color: #fff;
  }
}

.grn {
  background-color: #87d55d !important;
  color: #fff;
  textarea{
    background-color: #87d55d !important;
    color: #fff;
  }
}

//&.yellow{
//  background-color: #fef54e;
//}
.yy {
  background-color: #fff889 !important;
  border: 1px solid #ccc66e;
  textarea{
    background-color: #fff889 !important;
    border: 1px solid #ccc66e;
  }
}

.rr {
  background-color: #fe4646 !important;
  color: #fff;
  textarea{
    background-color: #fe4646 !important;
    color: #fff;
  }
}

.dr {
  background-color: #ba3040 !important;
  color: #fff;
  textarea{
    background-color: #ba3040 !important;
    color: #fff;
  }
}

.bb {
  background-color: #a78a6c !important;
  textarea{
    background-color: #a78a6c !important;
  }
}

.pp {
  background-color: #fec3f5 !important;
  textarea{
    background-color: #fec3f5 !important;
  }
}

.do {
  background-color: #e6ae05 !important;
  color: #fff;
  textarea{
    background-color: #e6ae05 !important;
    color: #fff;
  }
}

.oo {
  background-color: #ffd32d !important;
  textarea{
    background-color: #ffd32d !important;
  }
}

.p-t-c {
  padding: 10px;
  font-style: italic;
  //color: #c1c1c1;
  @extend .clearfix;
  p {
    margin-bottom: 0;
    float: left;
    margin-right: 10px;
  }
}

.e-m {
  padding: 5px;
  p {
    font-size: 12px;
    margin-bottom: 5px;
  }
}

.s-m-c {
  .col {
    width: 33%;
    padding: 0 !important;
    margin: 0 !important;
  }

  select {
    border: none;
    border-radius: 0;
  }
  .f {
    border-bottom: 5px solid #665eff;;
  }
  .s {
    border-bottom: 5px solid #5773ff;
    font-size: 11px;
  }
  .l {
    border-bottom: 5px solid #3acce1;
  }
}

.a-r-c {
  padding: 20px;
  p {
    font-size: 23px;
  }
}

.t-i {
  line-height: 30px;
  i, p {
    display: none;

  }
  .fa-eye {
    display: block;
  }

}
.z-c {
  padding: 10px;
  p {
    color: #fff;
  }
}
.c-cont {
  color: #373737;
}




