@font-face {
  font-family: gibson;
  src: url("../assets/fonts/Gibson-Regular.ttf");
}

@font-face {
  font-family: adobeFanHeiti;
  src: url("../assets/fonts/AdobeFanHeitiStd-Bold.otf");
}

@font-face {
  font-family: microsoftSans;
  src: url("../assets/fonts/micross.woff");
}
