@import "background";
@import "color";

.home {

  height: 100%;
  position: relative;
  .btn-con {
    position: absolute;
    bottom: 90px;
    width: 100%;
    text-align: center;
    .gsb {
      width: 300px;
    }
  }
}

.hcc {
  color: #fff;
  h1 {
    color: #fff;
    font-size: 36px;
  }
}

.register {
  .head {
    h1 {
      float: left;
    }
    line-height: 30px;
    p {
      line-height: 58px;
      font-weight: 700;
      margin-left: 25px;
      margin-bottom: 0;
    }
  }
}

.r-f-c {
  margin: -22.5px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  background-color: #eeeeee;
  .form-group {
    margin-bottom: 12px !important;
  }
  .input-group {
    margin-bottom: 12px !important;
  }
  .r-btn {
    background-color: #1d5797 !important;
  }
}

.u-con {
  padding: 0;
  margin: 0;
  overflow: hidden;
  .h-menu {
    z-index: 9;
    background-color: #161a2c;
    position: fixed;
    bottom: 0;
    width: 100%;
    .m-con {
      color: #ffffff;
      //box-shadow: 0 0 4px #dedede;
      .active {
        color: #343434;
        .ii-c {
          width: 30px;
          text-align: center;
          margin: 0 auto;
          height: 30px;
          border-radius: 15px;
          background-color: #cfefe2;
          line-height: 30px;
        }
      }
      .m-i-c {
        text-align: center;
        font-size: 19px;
      }
    }
  }
}

.r-wp {
  .col {
    margin: 10px 0;
  }
  .col:first-child {
    padding-left: 30px;
  }
  .col:last-child {
    padding-right: 30px;
  }
}

//timeline
.t-l {
  .post {
    &.post-t-2 {
      margin: 15px;
      background-color: #fff;
      border-radius: 14px;
      overflow: hidden;
      .c-c {
        padding: 0 13px;
        min-height: 0;
        background-color: #fff;
        p {
          font-size: 12px;
          color: #595959;
          margin-bottom: 2px;
        }
        .p-c {
          border-radius: 13px;
          margin-top: 10px;
        }
      }
    }
    background-color: #fff;
    //padding-bottom: 17px;
    //content container
    .c-c {
      width: 100%;
      background-color: #f0f0f0;
      min-height: 200px;
    }
    //comment container
    .p-t-c {

    }
    .p-c {
      width: 100%;
      //height: 100%;
      max-height: 450px;
    }
    //
    .p-con-c {
      padding: 10px 0;
      //background-color: $back-ground;

    }

  }
}

$ppw: 36px;
//user profile picture
.u-p-p {
  width: $ppw;
  height: $ppw;
  border-radius: $ppw/2;
  background-color: #ededed;
}

.a-con {
  float: right;
  display: inline-block;
  margin-left: 14px;
  line-height: 36px;

  color: #808080;
  .value {
    float: left;
    margin-left: 5px;
    font-size: 11px;
  }
  i {
    color: #c3c3c3;
    margin-left: 5px;
    &.liked {
      color: #1aae6f;
    }
    font-size: 16px;
  }
  &.more {
    margin-left: 12px;

  }
}

.n-con {
  float: left;
  display: inline-block;
  margin-left: 8px;
  padding-top: 3px;
  p {
    font-size: 12px;
    margin-bottom: 0;
    line-height: 16px;
    color: #1b1b1b;
  }
  .u-n {
    font-weight: bold;
    color: #0c0c0c;
    font-size: 11px;
  }
}

.com-con {
  border-top: 1px solid #e4e4e4;
  margin-top: 10px;
  width: 100%;
  .comen {
    padding: 10px 0 0 10px;
    width: 100%;
    display: inline-block;
    $com-p-c-w: 30px;
    .com-p-c {
      width: $com-p-c-w;
      height: $com-p-c-w;
      border-radius: $com-p-c-w/2;
      background-color: #f5f5f5;
    }
    .com-p-c-c {
      width: 10%;
      float: left;
    }
    .com-t-c {
      min-width: 50%;
      max-width: 85%;
      margin-left: 6px;
      padding: 5px 8px;
      background-color: #f6f6f6;
      border-radius: 10px;
      float: left;
      .name {
        font-size: 10px;
        font-weight: bold;
        float: left;
        display: inline-block;
        margin-right: 5px;
        color: #292929;
      }
      .more {
        font-size: 9px;
        margin-left: 5px;
        line-height: 18px;
        color: #818181;
      }
      p {
        margin-bottom: 0;
        font-size: 10px;

      }
    }
  }
}

.p-n-c {
  display: inline-block;
  width: 100%;
}

.r-com-con {
  overflow: auto;
  white-space: nowrap;
  width: 700px;
}

.recom-con {
  background-color: $back-ground;

  //.recom:first-child{
  //  padding-right: 9px;
  //  padding-left: 12px;
  //}
  //.recom:last-child{
  //  padding-left: 9px;
  //  padding-right: 12px;
  //}
}

.recom {
  display: inline-block;
  width: 230px;
  height: 270px;
  margin: 10px;
  .r-d-con {
    padding: 10px 4px;
    .title {
      font-size: 10px;
      color: #152d31;
      margin-bottom: 0;
      text-overflow: ellipsis;
      width: 100%;
      font-weight: 700;
    }
    .desc {
      font-size: 9px;
      color: #7a7a7a;
      text-align: justify;
    }
  }
  .pic-c {
    width: 96%;
    height: 270px;
    background-color: #e3e3e3;
    border-radius: 13px;
    margin: 0 auto;
    position: relative;
  }
}

.r-h-c {
  margin-bottom: 0;
  font-size: 16px;
  color: #666666;
  padding-left: 20px;
  padding-top: 15px;
  p {
    margin-bottom: 0;
    font-size: 17px;
    line-height: 23px;
    color: #fff;
  }
}

.hr-r {
  margin-top: 15px;
  margin-bottom: 20px;
  border-top: 1px solid rgba(121, 121, 121, 0.42);
}

.r-o-c-b {
  //background-color: #858585;
  z-index: 0;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(0, 0, 0));
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
}

.r-o-c {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  .btn {
    position: absolute;
    width: 90%;
    margin: 0 auto;
    left: 5%;
    top: 220px;
  }
  .r-o-t-c {
    position: absolute;
    top: 170px;
    left: 5%;
    p {
      margin-bottom: 0;
      color: #fff;
    }
    .sm {
      font-size: 10px;
    }
  }
}

.hd-menu {
  background-color: #161a2c;
  padding: 3px;
  width: 100%;
  .t-m-c {
    width: 100%;
    overflow: auto;
    white-space: nowrap;
  }
  .t-menu {
    outline: none;
    font-size: 27px;
    display: inline-block;
    padding: 0 9px;
    &.active {
      color: #fff;
      text-decoration: underline;
      text-decoration-color: #4d64e9;
    }
  }
}

.news-con {
  background-color: $back-ground;
  .news-content {
    margin-bottom: 20px;
    .n-i-con {
      position: absolute;
      background-color: #c9c9c9;
      width: 84px;
      height: 73px;
      border-radius: 10px;
      right: -38px;
      top: 10px;
    }
    background-color: #fff;
    padding: 7px 10px 13px;
    border-radius: 13px;
    min-height: 90px;
    .news-con-in {
      width: 80%;
      position: relative;

      small {
        font-size: 8px;
      }
      p {
        margin-bottom: 0;
      }
      .head {
        font-size: 12px;
        font-weight: bold;
        color: #666666;
      }
      .desc {
        font-size: 10px;
        color: #a2a2a2;
      }
    }

  }
}

.s-con {
  font-size: 16px;
  line-height: 35px;
  color: #c3c3c3;
}

.search-con {
  padding: 16px 10px 10px;
  .s-in {
    border-radius: 13px;
    text-align: center;
    outline: none;
    border: 0;
  }
  .form-group{
    margin-bottom: 0;
  }
}

.s-m-con {
  .sm-menu {
    text-align: center;
    color: #a9a9a9;
    p{
      font-size: 19px;
      margin-bottom: 3px;
    }
    .active{
      color: #fff;
    }
  }
  .h-div{
    width: 100%;
    height: 2px;
    background-color: #444864;
  }
}

.tag-con{
  padding: 5px 10px;
  overflow: auto;
  white-space: nowrap;
  .badge{
    margin-right:5px;
  }
  .badge-default {
    color: #091428;
    background-color: rgb(52, 98, 175);
  }
  .badge-primary {
    color: #2643e9;
    background-color: rgb(203, 210, 246);
  }
  .badge-secondary {
    color: #cfe3f1;
    background-color: rgb(255, 255, 255);
  }
  .badge-info {
    color: #03acca;
    background-color: rgb(136, 230, 247);
  }
  .badge-success {
    color: #1aae6f;
    background-color: rgb(147, 231, 195);
  }
  .badge-danger {
    color: #f80031;
    background-color: rgb(251, 175, 190);
  }
  .badge-warning {
    color: #ff3709;
    background-color: rgb(254, 201, 189);
  }
}

.p-status-con{
  padding-top: 10px;
  .p-s-c-i{
    text-align: center;
    .lb{
      border-right: 1px solid #efefef;
    }
    p{
      margin-bottom: 0;
      color: #fff;
    }
    small{
      margin-bottom: 0;
      color: #fff;
    }
  }
}
