@import "background";
@import "color";
@import "common";
@import "fonts";

.home {

  height: 100%;
  position: relative;
  .btn-con {
    position: absolute;
    bottom: 90px;
    width: 100%;
    text-align: center;
    .gsb {
      width: 300px;
    }
  }
}

.hcc {
  color: #fff;
  h1 {
    color: #fff;
    font-size: 36px;
  }
}

.register {
  .head {
    h1 {
      float: left;
    }
    line-height: 30px;
    p {
      line-height: 58px;
      font-weight: 700;
      margin-left: 25px;
      margin-bottom: 0;
    }
  }
}

.r-f-c {
  margin: -22.5px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  background-color: #eeeeee;
  .form-group {
    margin-bottom: 12px !important;
  }
  .input-group {
    margin-bottom: 12px !important;
  }
  .r-btn {
    background-color: #1d5797 !important;
  }
}

.u-con {
  padding: 0;
  margin: 0;
  overflow: hidden;
  .h-menu {
    z-index: 9;
    background-color: #161a2c;
    position: fixed;
    bottom: 0;
    width: 100%;
    .m-con {
      color: #ffffff;
      //box-shadow: 0 0 4px #dedede;
      .active {
        color: #343434;
        .ii-c {
          width: 30px;
          text-align: center;
          margin: 0 auto;
          height: 30px;
          border-radius: 15px;
          background-color: #cfefe2;
          line-height: 30px;
        }
      }
      .m-i-c {
        text-align: center;
        font-size: 19px;
      }
    }
  }
}

.r-wp {
  .col {
    margin: 10px 0;
  }
  .col:first-child {
    padding-left: 30px;
  }
  .col:last-child {
    padding-right: 30px;
  }
}

//timeline
.t-l {
  .p-b-i {
    position: relative;
    width: 100%;
    height: 150px;
  }
  .post-o-c {
    &.f-o-p-r{
      margin-bottom: 15px !important;
      .p-b-i{
        width: 60%;
        right: 0;
        height: 100%;
        max-height: 250px;
      }
      .w-bck{
        width: 65%;
        margin-top: 15px !important;
      }
    }
    &.f-o-p-l{
      margin-bottom: 15px !important;
      .p-b-i{
        width: 60%;
        left: 0;
        height: 100%;
        max-height: 250px;
      }
      .w-bck{
        width: 65%;
        margin-top: 15px !important;
        margin-left: 35% !important;
      }
    }
    &.f-o-p {
      width: 93%;
      margin: 0 auto;
      overflow: hidden;
    }
    position: relative;
    .p-b-i {
      position: absolute;
      z-index: 1;
      border-radius: 13px;
    }
  }
  .post {
    &.dark {
      background-color: #353a50 !important;
      .n-con {
        p {
          color: #fff;
        }
        .p-da {
          color: #939393;
        }
      }
      .c-c {
        background-color: #353a50 !important;
        p {
          color: #fff !important;
        }
      }
      .a-con {
        color: #c4c4c4;
      }
      .news-content {
        background-color: #353a50;
        color: #fff;
      }
    }
    position: relative;
    z-index: 3;
    &.w-bck {

      width: 93%;
      margin: 90px 10px 20px !important;
    }
    &.post-t-2 {
      margin: 15px;
      background-color: #fff;
      border-radius: 14px;
      overflow: hidden;
      .c-c {
        padding: 0 13px;
        min-height: 0;
        background-color: #fff;
        p {
          font-size: 12px;
          color: #595959;
          margin-bottom: 2px;
        }
        .p-c {
          border-radius: 13px;
          margin-top: 10px;
        }
      }
    }
    background-color: #fff;
    //padding-bottom: 17px;
    //content container
    .c-c {
      width: 100%;
      background-color: #f0f0f0;
      min-height: 200px;
    }
    //comment container
    .p-t-c {

    }
    .p-c {
      width: 100%;
      //height: 100%;
      max-height: 450px;
    }
    //
    .p-con-c {
      padding: 10px 0;
      //background-color: $back-ground;
      .t-a-r {
        color: #ababab;
        font-size: 18px;
      }
    }

  }
}

$ppw: 36px;
//user profile picture
.u-p-p {
  width: $ppw;
  height: $ppw;
  border-radius: $ppw/2;
  background-color: #ededed;
}

.a-con {
  float: right;
  display: inline-block;
  margin-left: 14px;
  line-height: 36px;

  color: #808080;
  .value {
    float: left;
    margin-left: 5px;
    font-size: 11px;
  }
  i {
    color: #c3c3c3;
    margin-left: 5px;
    &.liked {
      color: #1aae6f;
    }
    font-size: 16px;
  }
  &.more {
    margin-left: 12px;

  }
}

.n-con {
  float: left;
  display: inline-block;
  margin-left: 8px;
  padding-top: 3px;
  p {
    font-size: 12px;
    margin-bottom: 0;
    line-height: 16px;
    color: #2a2a2a;
  }
  .u-n {
    font-weight: bold;
    color: #2d2d2d;
    font-size: 11px;
  }
  .p-da {
    font-size: 10px;
    color: #7f7f7f;
  }
}

.com-con {
  border-top: 1px solid #e4e4e4;
  margin-top: 10px;
  width: 100%;
  .comen {
    padding: 10px 0 0 10px;
    width: 100%;
    display: inline-block;
    $com-p-c-w: 30px;
    .com-p-c {
      width: $com-p-c-w;
      height: $com-p-c-w;
      border-radius: $com-p-c-w/2;
      background-color: #f5f5f5;
    }
    .com-p-c-c {
      width: 10%;
      float: left;
    }
    .com-t-c {
      min-width: 50%;
      max-width: 85%;
      margin-left: 6px;
      padding: 5px 8px;
      background-color: #f6f6f6;
      border-radius: 10px;
      float: left;
      .name {
        font-size: 10px;
        font-weight: bold;
        float: left;
        display: inline-block;
        margin-right: 5px;
        color: #292929;
      }
      .more {
        font-size: 9px;
        margin-left: 5px;
        line-height: 18px;
        color: #818181;
      }
      p {
        margin-bottom: 0;
        font-size: 10px;

      }
    }
  }
}

.p-n-c {
  display: inline-block;
  width: 100%;
}


.r-com-con {
  overflow: auto;
  white-space: nowrap;
  width: 700px;

  @extend .s-style;


  &.h-scroll{
    padding-bottom: 15px;
    &::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, 0);
    }
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px rgba(128, 128, 128, 0);
      border-radius: 5px;
    }
  }

}

.recom-con {
  background-color: $back-ground;

  //.recom:first-child{
  //  padding-right: 9px;
  //  padding-left: 12px;
  //}
  //.recom:last-child{
  //  padding-left: 9px;
  //  padding-right: 12px;
  //}
}

.recom {
  display: inline-block;
  width: 230px;
  height: 300px;
  margin: 10px;
  .r-d-con {
    padding: 10px 4px;
    .title {
      font-size: 10px;
      color: #152d31;
      margin-bottom: 0;
      text-overflow: ellipsis;
      width: 100%;
      font-weight: 700;
    }
    .desc {
      font-size: 9px;
      color: #7a7a7a;
      text-align: justify;
    }
  }
  .pic-c {
    width: 96%;
    height: 292px;
    background-color: #e3e3e3;
    border-radius: 13px;
    margin: 0 auto;
    position: relative;
  }
}

.r-h-c {
  margin-bottom: 0;
  font-size: 16px;
  color: #666666;
  padding-left: 20px;
  padding-top: 7px;
  p {
    margin-bottom: 0;
    font-size: 25px;
    //line-height: 23px;
    color: #fff;
  }
}

.n-h-c {
  padding: 0 15px;
  color: #fff;
}

.hr-r {
  margin-top: 15px;
  margin-bottom: 20px;
  border-top: 1px solid rgba(121, 121, 121, 0.42);
}

.r-o-c-b {
  //background-color: #858585;
  z-index: 0;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(0, 0, 0));
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
}

.r-o-c {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  .btn {
    position: absolute;
    //width: 90%;
    margin: 0 auto;
    //left: 5%;
    top: 45%;
  }
  .t-t-c {
    position: absolute;
    top: 10px;
    left: 5%;
    p {
      margin-bottom: 5px;
      color: #fff;
      font-size: 15px;
      line-height: 20px;
    }
    .sm {
      font-size: 17px;
    }
  }
  .r-o-t-c {
    position: absolute;
    top: 229px;
    left: 11%;
    p {
      margin-bottom: 0;
      color: #fff;
      font-size: 19px;
      line-height: 20px;
    }
    .sm {
      font-size: 14px;
      color: #79787b;
    }
  }
}

.hd-menu {
  font-family: adobeFanHeiti;
  background-color: #161a2c;
  padding: 3px;
  width: 100%;
  .t-m-c {
    width: 100%;
    overflow: auto;
    white-space: nowrap;
  }
  .t-menu {
    outline: none;
    font-size: 29px;
    display: inline-block;
    padding: 0 2px;
    &.active {
      color: #fff;
      text-decoration: underline;
      text-decoration-color: #1f5b8d;
    }
  }
}

.news-con {

  background-color: $back-ground;
  .news-content {
    @extend .clearfix;
    margin-bottom: 20px;
    .n-i-con {
      position: absolute;
      background-color: #c9c9c9;
      width: 84px;
      height: 73px;
      border-radius: 10px;
      right: -38px;
      top: 10px;
    }
    background-color: #fff;
    padding: 7px 10px 13px;
    border-radius: 13px;
    min-height: 90px;
    .news-con-in {
      width: 75%;
      position: relative;

      small {
        font-size: 9.5px;
        color: #909090;
      }
      p {
        margin-bottom: 7px;
      }
      .head {
        font-size: 12px;
        font-weight: bold;
        color: #666666;
      }
      .desc {
        font-size: 10px;
        color: #a2a2a2;
      }
    }

  }
  &.rev {
    .n-i-con {

      width: 84px;
      height: 73px;
      border-radius: 10px;
      left: -30px;
      top: 10px;
    }
    .news-content {
      margin-left: 30px;
    }
    .news-con-in {
      float: right;
      width: 68%;
      @extend .clearfix;
    }

  }

}

.s-con {
  font-size: 16px;
  line-height: 35px;
  color: #c3c3c3;
}

.search-con {
  padding: 16px 10px 6px;
  .s-in {
    border-radius: 13px;
    text-align: center;
    outline: none;
    border: 0;
  }
  .form-group {
    margin-bottom: 0;
  }
}

.s-m-con {
  .sm-menu {
    text-align: center;
    color: #6c6c6c;
    p {
      font-size: 26px;
      margin-bottom: 3px;
    }
    .active {
      color: #fff;
    }
  }
  .h-div {
    width: 100%;
    height: 3px;
    background-color: #5e57ea;
  }
}

.tag-con {
  padding: 10px 10px;
  overflow: auto;
  white-space: nowrap;
  .badge {
    color: #121212;
    font-size: 13px;
    margin-right: 7px;
    text-transform: none;
    border-radius: 8px;
    padding-left: 12px;
    padding-right: 12px;
  }
  .badge-default {

    background-color: #283888;
  }
  .badge-primary {

    background-color: #752888;
  }
  .badge-secondary {

    background-color: rgb(255, 255, 255);
  }
  .badge-info {

    background-color: rgb(136, 230, 247);
  }
  .badge-success {

    background-color: #906904;
  }
  .badge-danger {

    background-color: #9c5a38;
  }
  .badge-warning {

    background-color: #842c52;
  }
}

.p-status-con {
  padding-top: 10px;
  .p-s-c-i {
    opacity: 0.4;
    text-align: center;
    .lb {
      border-right: 1px solid #efefef;
    }
    p {
      margin-bottom: 0;
      color: #fff;
      font-size: 16px;
    }
    small {
      margin-bottom: 0;
      color: #fff;
    }
  }
}

.sm-n {
  width: 70%;
  .news-con-in {
    min-height: 90px !important;
  }

  .n-i-con {
    width: 100px !important;
    height: 90px !important;
  }
}

.mid-n {
  width: 85%;
  .news-con-in {
    min-height: 100px !important;
  }

  .n-i-con {
    width: 110px !important;
    height: 100px !important;

  }
}

.saves-con {
  background-color: #000 !important;
  .news-con {
    background-color: #000 !important;
  }
}
.school-feed-con{
  background-color:  #000 !important;
  .news-con{
    background-color: #000 !important;
  }
}
