.tables-con{
  .btn-con{
    .btn{
      font-size: 10px !important;
    }

  }
  .outlet-name-con{
    font-size: 10px;
    width: 200px;
    p{
      color: #111111;
    }
  }

  .tracking-con{
    font-size: 13px;
  }
}
