@import "common";
@import "color";
@import "home";
@import "login";
@import "shared";
@import "buttons";
@import "tables";
@import "font";
@import "place_holder";
@import "modal";
@import "hahu";
@import "workboard";
@import "search";
@import "fonts";
@import "cal";
@import "profile";
@import "content";
@import "snow";


.p-0-i {
  padding: 0 !important;
}

html, body {
  background-color: #2b2e3f;
  //font-family: gibson_man;
  font-family: microsoftSans;
  height: 100%;
  font-size: 90%;
}

body {
  margin: 0;
}

div:focus{
  outline: none !important;
}
.c-container {
  padding: 0 !important;
}

.header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  nav {
    background-color: $header-color !important;
    color: white;
  }
}

.c-form {
  label {
    font-size: 10px;
  }

  p {
    font-size: 14px;
    color: #383838;
    margin-bottom: 3px;
  }
}

.top-desc {
  padding: 10px;
  border: 1px solid #efefef;
  border-radius: 10px;
  margin-bottom: 40px;
  small {
    color: #009d15;

  }
  p {
    color: #000000;
    font-size: 15px !important;
  }
}

.tend-desc-con {
  padding: 10px;
  border: 1px solid #efefef;
  border-radius: 10px;
}

.b-0 {
  border-radius: 0;
}

.ct {
  font-size: 16px;
  color: #7aa533;
}

.pc {
  small {
    font-size: 12px;
  }
}

.m-r-5 {
  margin-right: 5px;
}

.badge {
  cursor: pointer;
}

.h90 {
  height: 90px;
}

.sch-h {
  height: 90px;
}

.time-con {
  background-color: #fff;
  font-size: 20px !important;
  color: #bfbfbf;
  line-height: 43px;
}


//::-webkit-scrollbar {
//  display: none;  /* Safari and Chrome */
//}



.mag-con-v{
  margin: 0;
  .modal-content{
    border-radius: 0;
  }
  .p-con-c{
    display: none;
  }
}

.p-alt{
  .ql-editor{
    p{
      span{
        color: #fff !important;
      }
    }
  }
}

//select{
//  -webkit-appearance: none;
//}

.sc-b-c{
  .btn-group{
    width: 100%;
  }
  .btn{
    background: #fff;
    border-radius: 0;
    width: 100% !important;
  }
  .dropdown-menu{
    z-index: 999;
  }
  .f {
    border-bottom: 3px solid #665eff;;
  }
  .s {
    border-bottom: 3px solid #5773ff;
  }
  .l {
    border-bottom: 3px solid #3acce1;
  }
}

.hf{
  height: 100%;
  overflow-y: auto;
}
