<div class="set-con">
  <div class="n-c set-p-h">

    <div class="n-c-h ">
      <div class="a-c" routerLink="../profilesetting">
        <i class="fa fa-angle-left" ></i>
        <span class="set-h">General Setting</span>
        <!--<i class="fa fa-search float-right srch"></i>-->

      </div>
      <!--<p class="nh">Progress</p>-->
    </div>

  </div>


  <div class="p-m-l">
    <div class="ml">
      <p>General Setting</p>
      <small>Display, Notification, Sounds</small>
      <i class="fa fa-angle-right float-right"></i>
    </div>
    <div class="ml">
      <p>Change Username</p>
      <!--<small>Display, Notification, Sounds</small>-->
      <!--<i class="fa fa-angle-right float-right"></i>-->
    </div>

  </div>
</div>
