<div class="w-con">

  <div class="w-head">
    <p>WORK BOARD</p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <p class="w-h">Notifications</p>
      </div>
    </div>
  </div>

  <div class="w-b-m-con">
    <div class="w-b-con w-not nc">
      <ngx-spinner bdColor="rgba(152,61,61,0)"
                   size="default"
                   color="#dddddd"
                   type="ball-fall"
                   [fullScreen]="false"
                   name="wNotification"></ngx-spinner>
      <div class="s-w-not" *ngFor="let n of notifications; let i =index;">
        <div class="w-i-c">
          <div class="w-i-c-c bcimg"
               [ngStyle]="{'background-image':'url( data:image/jpeg;base64,' + n?.featuredImage + ')'}"></div>
        </div>
        <div class="w-c-c">
          <p>{{n.userLogin}}</p>
          <p class="sm">{{n.content}}</p>
          <hr>
        </div>
      </div>
      <div class="z-c" *ngIf="isNotificationLoaded">
        <p *ngIf="notifications.length == 0">No new notifications.</p>
      </div>
      <div class="d-a" routerLink="../notifications">
        <i class="fa fa-angle-down"></i>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <p class="w-h">Schedule</p>
      </div>
    </div>
  </div>

  <div class="w-b-m-con">
    <div class="w-b-con w-not sc">
      <div>
        <p class="w-h">Today</p>
      </div>
      <div class="sc-c-c">
        <ngx-spinner bdColor="rgba(152,61,61,0)"
                     size="default"
                     color="#dddddd"
                     type="ball-fall"
                     [fullScreen]="false"
                     name="scheduleDashboard"></ngx-spinner>
        <div class="custom-control custom-checkbox" *ngFor="let s of todaySchedule; let i = index;">
          <input type="checkbox" class="custom-control-input">
          <label class="custom-control-label">
            <del *ngIf="ts?.markAsDone">{{s.title}}</del>
            <span *ngIf="!ts?.markAsDone">{{s.title}}</span>
          </label>
        </div>
        <div class="z-c" *ngIf="isScheduleLoaded">
          <p *ngIf="todaySchedule.length == 0">No schedules for today.</p>
        </div>
      </div>
      <div>
        <p class="w-h m-b-0">Tomorrow</p>
      </div>
      <div class="d-a" routerLink="../schedule">
        <i class="fa fa-angle-down"></i>
      </div>
    </div>

  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <p class="w-h">School Progress</p>
      </div>
    </div>
  </div>

  <div class="w-b-m-con">
    <div class="w-b-con w-not sp">
      <div class="sp-c">
        <div class="sp-s-c">
          <div class="text">Last average result obtained</div>
          <div class="result">78%</div>
        </div>
        <div class="sp-s-c">
          <div class="text">Ranking</div>
          <div class="result">6</div>
        </div>
      </div>
      <div class="d-a" routerLink="../schoolprogress">
        <i class="fa fa-angle-down"></i>
      </div>
    </div>
  </div>

</div>
